openapi: 3.2.0
info:
  title: Clickup Custom Task Types API
  version: '2.0'
  contact: {}
  description: 'Operations tagged Custom Task Types across 2 of this provider''s published API definitions: clickup-api-v2-reference-openapi.json, clickup-api-v2-reference-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.clickup.com/api
  description: ClickUp
  variables: {}
security:
- Authorization_Token: []
tags:
- name: Custom Task Types
paths:
  /v2/team/{team_id}/custom_item:
    get:
      summary: Get Custom Task Types
      tags:
      - Custom Task Types
      description: View the custom task types available in a Workspace.
      operationId: GetCustomItems
      parameters:
      - name: team_id
        in: path
        description: Workspace ID
        required: true
        style: simple
        schema:
          type: number
          contentEncoding: double
          examples:
          - 123
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                title: GetCustomItemsResponse
                type: object
                properties:
                  custom_items:
                    type: array
                    items:
                      title: Custom Item
                      type: object
                      properties:
                        id:
                          type: integer
                          contentEncoding: int32
                          description: Custom task type ID.
                        name:
                          type: string
                          description: Custom task type name.
                        name_plural:
                          type: string
                          description: Custom task type plural name.
                        description:
                          type: string
                          description: Custom task type description.
                      examples:
                      - id: 1300
                        name: Bug
                        name_plural: Bugs
                        description: Custom task type for bugs.
                    description: Array of custom task types.
                examples:
                - custom_items:
                  - id: 1300-900e-462d-a849-4a216b06d930
                    name: Bug
                    name_plural: Bugs
                    description: Custom item type for bugs.
              example:
              - custom_items:
                - id: 1300
                  name: Bug
                  name_plural: Bugs
                  description: Custom item type for bugs.
      deprecated: false
    servers:
    - url: https://api.clickup.com/api
      description: ClickUp
      variables: {}
components:
  securitySchemes:
    Authorization_Token:
      name: Authorization
      type: apiKey
      in: header
      description: 'API token required for authentication. Two types of tokens are supported:

        **Personal API Key** Obtain from ClickUp''s settings page under ''Apps'' and add it to the header as `Authorization: pk_...`

        **OAuth2 Access Token** Generated through the OAuth2 flow and add it to the header as `Authorization: Bearer {access_token}`'
x-refined-from:
- clickup-api-v2-reference-openapi.json
- clickup-api-v2-reference-openapi.json
