openapi: 3.2.0
info:
  title: Clickup Time Tracking API
  version: '2.0'
  description: 'Operations tagged Time Tracking across 2 of this provider''s published API definitions: clickup-api-v2-reference-openapi.json, clickup-time-tracking-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.clickup.com/api
  description: ClickUp
  variables: {}
- url: https://api.clickup.com/api/v2
  description: ClickUp API v2 Production Server
tags:
- name: Time Tracking
paths:
  /v2/team/{team_Id}/time_entries:
    parameters: []
    get:
      summary: Get time entries within a date range
      tags:
      - Time Tracking
      description: 'View time entries filtered by start and end date. \

        \

        By default, this endpoint returns time entries from the last 30 days created by the authenticated user. \

        \

        To retrieve time entries for other users, you must include the `assignee` query parameter. \

        \

        Only one of the following location filters can be included at a time: `space_id`, `folder_id`, `list_id`, or `task_id`. \

        \

        ***Note:** A time entry that has a negative duration means that timer is currently running for that user.*'
      operationId: Gettimeentrieswithinadaterange
      parameters:
      - name: team_Id
        in: path
        description: Workspace ID
        required: true
        style: simple
        schema:
          type: number
          contentEncoding: double
          examples:
          - 123
      - name: start_date
        in: query
        description: Unix time in milliseconds
        style: form
        explode: true
        schema:
          type: number
          contentEncoding: double
      - name: end_date
        in: query
        description: Unix time in milliseconds
        style: form
        explode: true
        schema:
          type: number
          contentEncoding: double
      - name: assignee
        in: query
        description: "Filter by `user_id`. For multiple assignees, separate `user_id` using commas.\\\n \\\n **Example:** `assignee=1234,9876`\\\n \\\n***Note:** Only Workspace Owners/Admins have access to do this.*"
        style: form
        explode: true
        schema:
          type: number
          contentEncoding: double
      - name: include_task_tags
        in: query
        description: Include task tags in the response for time entries associated with tasks.
        style: form
        explode: true
        schema:
          type: boolean
      - name: include_location_names
        in: query
        description: Include the names of the List, Folder, and Space along with the `list_id`,`folder_id`, and `space_id`.
        style: form
        explode: true
        schema:
          type: boolean
      - name: include_approval_history
        in: query
        description: Include the history of the approval for each time entry. Adds status changes, notes, and approvers.
        style: form
        explode: true
        schema:
          type: boolean
      - name: include_approval_details
        in: query
        description: Include the details of the approval for each time entry. Adds Approver ID, Approved Time, List of Approvers, and Approval Status.
        style: form
        explode: true
        schema:
          type: boolean
      - name: space_id
        in: query
        description: Only include time entries associated with tasks in a specific Space.
        style: form
        explode: true
        schema:
          type: number
          contentEncoding: double
      - name: folder_id
        in: query
        description: Only include time entries associated with tasks in a specific Folder.
        style: form
        explode: true
        schema:
          type: number
          contentEncoding: double
      - name: list_id
        in: query
        description: Only include time entries associated with tasks in a specific List.
        style: form
        explode: true
        schema:
          type: number
          contentEncoding: double
      - name: task_id
        in: query
        description: Only include time entries associated with a specific task.
        style: form
        explode: true
        schema:
          type: string
      - name: custom_task_ids
        in: query
        description: If you want to reference a task by it's custom task id, this value must be `true`.
        style: form
        explode: true
        schema:
          type: boolean
          examples:
          - true
      - name: team_id
        in: query
        description: "When the `custom_task_ids` parameter is set to `true`, the Workspace ID must be provided using the `team_id` parameter.\n \\\nFor example: `custom_task_ids=true&team_id=123`."
        style: form
        explode: true
        schema:
          type: number
          contentEncoding: double
          examples:
          - 123
      - name: is_billable
        in: query
        description: "Include only billable time entries by using a value of `true` or only non-billable time entries by using a value of `false`.\\\n \\\nFor example: `?is_billable=true`."
        style: form
        explode: true
        schema:
          type: boolean
          examples:
          - true
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          const: application/json
          type: string
          examples:
          - application/json
      responses:
        '200':
          description: If your time entry is associated with a task that uses custom task ids you can expect a `custom_id`` field in the body of the response. The task field will only be included if there is a task associated with a time entry.
          headers: {}
          content:
            application/json:
              schema:
                title: Gettimeentrieswithinadaterangeresponse
                required:
                - data
                type: object
                properties:
                  data:
                    type: array
                    items:
                      title: Datum1
                      required:
                      - id
                      - task
                      - wid
                      - user
                      - billable
                      - start
                      - end
                      - duration
                      - description
                      - tags
                      - source
                      - at
                      - task_location
                      - task_tags
                      - task_url
                      type: object
                      properties:
                        id:
                          type: string
                        task:
                          title: Task4
                          required:
                          - id
                          - custom_id
                          - name
                          - status
                          - custom_type
                          type: object
                          properties:
                            id:
                              type: string
                            custom_id:
                              type: string
                            name:
                              type: string
                            status:
                              $ref: '#/paths/~1v2~1task~1{task_id}/get/responses/200/content/application~1json/schema/properties/status'
                            custom_type:
                              type:
                              - string
                              - 'null'
                          examples:
                          - id: 1vwwavv
                            custom_id: JOSH-917
                            name: woof
                            status:
                              status: open yes
                              color: '#d3d3d3'
                              type: open
                              orderindex: 0
                            custom_type: null
                        wid:
                          type: string
                        user:
                          $ref: '#/paths/~1v2~1task~1{task_id}/get/responses/200/content/application~1json/schema/properties/attachments/items/properties/user'
                        billable:
                          type: boolean
                        start:
                          type: string
                        end:
                          type: string
                        duration:
                          type: string
                        description:
                          type: string
                        tags:
                          type: array
                          items:
                            type: string
                          description: ''
                        source:
                          type: string
                        at:
                          type: string
                        approval_id:
                          type: string
                          description: ID of the associated approval
                        approval:
                          $ref: '#/paths/~1v2~1team~1{team_Id}~1time_entries/get/responses/200/content/application~1json/schema/examples/0/data/0/approval'
                        task_location:
                          $ref: '#/paths/~1v2~1team~1{team_id}~1time_entries~1{timer_id}/get/responses/200/content/application~1json/schema/properties/data/properties/task_location'
                        task_tags:
                          type: array
                          items:
                            $ref: '#/paths/~1v2~1team~1{team_id}~1time_entries~1{timer_id}/get/responses/200/content/application~1json/schema/properties/data/properties/task_tags/items'
                          description: ''
                        task_url:
                          type: string
                      examples:
                      - id: '1963465985517105840'
                        task:
                          id: 1vwwavv
                          custom_id: JOSH-917
                          name: woof
                          status:
                            status: open yes
                            color: '#d3d3d3'
                            type: open
                            orderindex: 0
                          custom_type: null
                        wid: '300702'
                        user:
                          id: 1
                          username: first_name last_name
                          email: test@gmail.com
                          color: '#08c7e0'
                          initials: JK
                          profilePicture: https://attachments.clickup.com/profilePictures/1_HHk.jpg
                        billable: false
                        start: '1592841559129'
                        end: '1592845899021'
                        duration: '4339892'
                        description: ''
                        tags: []
                        source: clickup
                        at: '1592845899021'
                        approval_id: 2d539936-119a-4927-9770-179f0a72e2e5
                        approval:
                          $ref: '#/paths/~1v2~1team~1{team_Id}~1time_entries/get/responses/200/content/application~1json/schema/examples/0/data/0/approval'
                        task_location:
                          list_id: 1560300071
                          folder_id: 468300080
                          space_id: 22800253
                          list_name: List
                          folder_name: Folder
                          space_name: Space
                        task_tags:
                        - name: content-request
                          tag_fg: '#800000'
                          tag_bg: '#2ecd6f'
                          creator: 301828
                        - name: marketing-okr
                          tag_fg: '#800000'
                          tag_bg: '#7C4DFF'
                          creator: 301828
                        task_url: https://staging.clickup.com/t/1vwwavv
                    description: ''
                examples:
                - data:
                  - id: '1963465985517105840'
                    task:
                      id: 1vwwavv
                      custom_id: JOSH-917
                      name: woof
                      status:
                        status: open yes
                        color: '#d3d3d3'
                        type: open
                        orderindex: 0
                      custom_type: null
                    wid: '300702'
                    user:
                      id: 1
                      username: first_name last_name
                      email: test@gmail.com
                      color: '#08c7e0'
                      initials: JK
                      profilePicture: https://attachments.clickup.com/profilePictures/1_HHk.jpg
                    billable: false
                    start: 1592841559129
                    end: 1592845899021
                    duration: '4339892'
                    description: ''
                    tags: []
                    source: clickup
                    at: '1592845899021'
                    approval_id: 2d539936-119a-4927-9770-179f0a72e2e5
                    approval:
                      title: Approval
                      type: object
                      properties:
                        id:
                          type: string
                          description: Unique identifier for the approval
                        workspace_id:
                          type: integer
                          description: ID of the workspace this approval belongs to
                        status:
                          type: string
                          description: Current status of the approval (e.g., 'approved', 'pending')
                        data:
                          type: object
                          properties:
                            end_of_week:
                              type: integer
                              description: Timestamp for the end of the week
                            start_of_week:
                              type: integer
                              description: Timestamp for the start of the week
                        user:
                          $ref: '#/paths/~1v2~1task~1{task_id}~1time/get/responses/200/content/application~1json/schema/properties/data/items/properties/user'
                        approvers:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                description: ID of the user who can approve the request
                        approver_id:
                          type: integer
                          description: ID of the user who approved the request
                        approved_at:
                          type: integer
                          description: Timestamp when the approval was granted
                        history:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                description: Unique identifier for the history entry
                              field:
                                type: string
                                description: Field that was changed
                              before:
                                type: string
                                description: Previous value
                              after:
                                type: string
                                description: New value
                              created_at:
                                type: integer
                                description: Timestamp when the change was made
                              user:
                                $ref: '#/paths/~1v2~1task~1{task_id}~1time/get/responses/200/content/application~1json/schema/properties/data/items/properties/user'
                      examples:
                      - id: 123e4567-e89b-12d3-a456-426614174000
                        workspace_id: 12345
                        status: approved
                        data:
                          end_of_week: 1672531199000
                          start_of_week: 1671926400000
                        user:
                          id: 101
                          username: john.smith
                          initials: JS
                          avatar:
                            color: '#4287f5'
                            picture_url: null
                        approvers:
                        - id: 101
                        - id: 102
                        approver_id: 101
                        approved_at: 1672012800000
                        history:
                        - id: 987fcdeb-51a2-3456-789a-bcdef0123456
                          field: submission
                          before: null
                          after: null
                          created_at: 1671987600000
                          user:
                            id: 101
                            username: john.smith
                            role: submitter
                        - id: 456abcde-f123-4567-89ab-cdef01234567
                          field: status
                          before: pending
                          after: approved
                          created_at: 1672012800000
                          user:
                            id: 102
                            username: jane.doe
                            role: approver
                    task_location:
                      list_id: 1560300071
                      folder_id: 468300080
                      space_id: 22800253
                      list_name: List
                      folder_name: Folder
                      space_name: Space
                    task_tags:
                    - name: content-request
                      tag_fg: '#800000'
                      tag_bg: '#2ecd6f'
                      creator: 301828
                    - name: marketing-okr
                      tag_fg: '#800000'
                      tag_bg: '#7C4DFF'
                      creator: 301828
                    task_url: https://staging.clickup.com/t/1vwwavv
              example:
                data:
                - id: '1963465985517105840'
                  task:
                    id: 1vwwavv
                    custom_id: JOSH-917
                    name: woof
                    status:
                      status: open yes
                      color: '#d3d3d3'
                      type: open
                      orderindex: 0
                    custom_type: null
                  wid: '300702'
                  user:
                    id: 1
                    username: first_name last_name
                    email: test@gmail.com
                    color: '#08c7e0'
                    initials: JK
                    profilePicture: https://attachments.clickup.com/profilePictures/1_HHk.jpg
                  billable: false
                  start: 1592841559129
                  end: 1592845899021
                  duration: '4339892'
                  description: ''
                  tags: []
                  source: clickup
                  at: '1592845899021'
                  task_location:
                    list_id: 1560300071
                    folder_id: 468300080
                    space_id: 22800253
                    list_name: List
                    folder_name: Folder
                    space_name: Space
                  task_tags:
                  - name: content-request
                    tag_fg: '#800000'
                    tag_bg: '#2ecd6f'
                    creator: 301828
                  - name: marketing-okr
                    tag_fg: '#800000'
                    tag_bg: '#7C4DFF'
                    creator: 301828
                  task_url: https://staging.clickup.com/t/1vwwavv
      deprecated: false
      security:
      - Authorization_Token: []
    post:
      summary: Create a time entry
      tags:
      - Time Tracking
      description: 'Create a time entry. \

        \

        ***Note:** A time entry that has a negative duration means that timer is currently running for that user.*'
      operationId: Createatimeentry
      parameters:
      - name: team_Id
        in: path
        description: Workspace ID
        required: true
        style: simple
        schema:
          type: number
          contentEncoding: double
          examples:
          - 123
      - name: custom_task_ids
        in: query
        description: If you want to reference a task by it's custom task id, this value must be `true`.
        style: form
        explode: true
        schema:
          type: boolean
          examples:
          - true
      - name: team_id
        in: query
        description: "When the `custom_task_ids` parameter is set to `true`, the Workspace ID must be provided using the `team_id` parameter.\n \\\nFor example: `custom_task_ids=true&team_id=123`."
        style: form
        explode: true
        schema:
          type: number
          contentEncoding: double
          examples:
          - 123
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              title: Createatimeentryrequest
              required:
              - start
              - duration
              type: object
              properties:
                description:
                  type: string
                tags:
                  description: Unlimited uses of time entry tags are available on the Business Plus and Enterprise Plan.
                  type: array
                  items:
                    title: Tags6
                    required:
                    - name
                    - tag_fg
                    - tag_bg
                    type: object
                    properties:
                      name:
                        type: string
                      tag_fg:
                        type: string
                      tag_bg:
                        type: string
                    examples:
                    - name: Tag name
                      tag_fg: '#000000'
                      tag_bg: '#000000'
                start:
                  type: integer
                  contentEncoding: int64
                stop:
                  type: integer
                  contentEncoding: int64
                  description: 'The `duration` parameter can be used instead of the `stop` parameter. '
                end:
                  type: integer
                  contentEncoding: int64
                billable:
                  type: boolean
                duration:
                  description: When there are values for both `start` and `end`, `duration` is ignored. The `stop` parameter can be used instead of the `duration` parameter.
                  type: integer
                  contentEncoding: int32
                assignee:
                  description: Workspace owners and admins can include any user id. Workspace members can only include their own user id. Unlimited uses of creating time entries for other people is available on the Business Plus and Enterprise Plan.
                  type: integer
                  contentEncoding: int32
                tid:
                  description: You can provide a task ID to associate the time entry with a task. Unlimited uses of time entries that are not associated with tasks are available on the Business Plus and Enterprise Plan.
                  type: string
              examples:
              - description: from api
                tags:
                - name: name of tag
                  tag_bg: '#BF55EC'
                  tag_fg: '#FFFFFF'
                start: 1595282645000
                end: 1595282660000
                billable: true
                duration: 50000
                assignee: 1
                tid: task_id
            example:
              description: from api
              tags:
              - name: name of tag
                tag_bg: '#BF55EC'
                tag_fg: '#FFFFFF'
              start: 1595282645000
              billable: true
              duration: 50000
              assignee: 1
              tid: task_id
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                title: Createatimeentryresponse
                required:
                - description
                - tags
                - start
                - billable
                - duration
                - assignee
                - tid
                type: object
                properties:
                  description:
                    type: string
                  tags:
                    type: array
                    items:
                      $ref: '#/paths/~1v2~1team~1{team_Id}~1time_entries/post/requestBody/content/application~1json/schema/properties/tags/items'
                    description: ''
                  start:
                    type: integer
                    contentEncoding: int64
                  billable:
                    type: boolean
                  duration:
                    type: integer
                    contentEncoding: int32
                  assignee:
                    type: integer
                    contentEncoding: int32
                  tid:
                    type: string
                examples:
                - description: from api
                  tags:
                  - name: name of tag
                    tag_bg: '#BF55EC'
                    tag_fg: '#BF55EC'
                  start: 1595282645000
                  billable: true
                  duration: 50000
                  assignee: 1
                  tid: task_id
              example:
                description: from api
                tags:
                - name: name of tag
                  tag_bg: '#BF55EC'
                  tag_fg: '#BF55EC'
                start: 1595282645000
                billable: true
                duration: 50000
                assignee: 1
                tid: task_id
      deprecated: false
      security:
      - Authorization_Token: []
    servers:
    - url: https://api.clickup.com/api
      description: ClickUp
      variables: {}
  /v2/team/{team_id}/time_entries/{timer_id}:
    parameters: []
    get:
      summary: Get singular time entry
      tags:
      - Time Tracking
      description: 'View a single time entry. \

        \

        ***Note:** A time entry that has a negative duration means that timer is currently running for that user.*'
      operationId: Getsingulartimeentry
      parameters:
      - name: team_id
        in: path
        description: Workspace ID
        required: true
        style: simple
        schema:
          type: number
          contentEncoding: double
          examples:
          - 123
      - name: timer_id
        in: path
        description: "The ID of a time entry. \\\n \\\nThis can be found using the [Get Time Entries Within a Date Range](ref:gettimeentrieswithinadaterange) endpoint."
        required: true
        style: simple
        schema:
          type: string
          examples:
          - '1963465985517105840'
      - name: include_task_tags
        in: query
        description: Include task tags in the response for time entries associated with tasks.
        style: form
        explode: true
        schema:
          type: boolean
      - name: include_location_names
        in: query
        description: Include the names of the List, Folder, and Space along with `list_id`,`folder_id`, and `space_id`.
        style: form
        explode: true
        schema:
          type: boolean
      - name: include_approval_history
        in: query
        description: Include the history of the approval for the time entry.
        style: form
        explode: true
        schema:
          type: boolean
      - name: include_approval_details
        in: query
        description: Include the details of the approval for the time entry.
        style: form
        explode: true
        schema:
          type: boolean
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          const: application/json
          type: string
          examples:
          - application/json
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                title: Getsingulartimeentryresponse
                required:
                - data
                type: object
                properties:
                  data:
                    type: object
                    description: ''
                    title: Datum2
                    required:
                    - id
                    - wid
                    - user
                    - billable
                    - start
                    - end
                    - duration
                    - description
                    - tags
                    - source
                    - at
                    - task_location
                    - task_tags
                    - task_url
                    properties:
                      id:
                        type: string
                      wid:
                        type: string
                      user:
                        $ref: '#/paths/~1v2~1task~1{task_id}/get/responses/200/content/application~1json/schema/properties/attachments/items/properties/user'
                      billable:
                        type: boolean
                      start:
                        type: string
                      end:
                        type: string
                      duration:
                        type: string
                      description:
                        type: string
                      tags:
                        type: array
                        items:
                          type: string
                        description: ''
                      source:
                        type: string
                      at:
                        type: string
                      approval_id:
                        type: string
                        description: ID of the associated approval
                      approval:
                        $ref: '#/paths/~1v2~1team~1{team_Id}~1time_entries/get/responses/200/content/application~1json/schema/examples/0/data/0/approval'
                      task_location:
                        title: TaskLocation
                        required:
                        - list_id
                        - folder_id
                        - space_id
                        - list_name
                        - folder_name
                        - space_name
                        type: object
                        properties:
                          list_id:
                            type: integer
                            contentEncoding: int32
                          folder_id:
                            type: integer
                            contentEncoding: int32
                          space_id:
                            type: integer
                            contentEncoding: int32
                          list_name:
                            type: string
                          folder_name:
                            type: string
                          space_name:
                            type: string
                        examples:
                        - list_id: 1560300071
                          folder_id: 468300080
                          space_id: 22800253
                          list_name: List
                          folder_name: Folder
                          space_name: Space
                      task_tags:
                        type: array
                        items:
                          title: TaskTag
                          required:
                          - name
                          - tag_fg
                          - tag_bg
                          - creator
                          type: object
                          properties:
                            name:
                              type: string
                            tag_fg:
                              type: string
                            tag_bg:
                              type: string
                            creator:
                              type: integer
                              contentEncoding: int32
                          examples:
                          - name: content-request
                            tag_fg: '#800000'
                            tag_bg: '#2ecd6f'
                            creator: 301828
                        description: ''
                      task_url:
                        type: string
                    examples:
                    - id: timer_id
                      wid: workspace_id
                      user:
                        id: 1
                        username: first_name last_name
                        email: test@gmail.com
                        color: '#08c7e0'
                        initials: JK
                        profilePicture: https://attachments-public.clickup.com/profilePictures/1_HHk.jpg
                      billable: false
                      start: '1592841559129'
                      end: '1592845899021'
                      duration: '4339892'
                      description: ''
                      tags: []
                      source: clickup
                      at: '1592845899021'
                      approval_id: 2d539936-119a-4927-9770-179f0a72e2e5
                      approval:
                        $ref: '#/paths/~1v2~1team~1{team_Id}~1time_entries/get/responses/200/content/application~1json/schema/examples/0/data/0/approval'
                      task_location:
                        list_id: 1560300071
                        folder_id: 468300080
                        space_id: 22800253
                        list_name: List
                        folder_name: Folder
                        space_name: Space
                      task_tags:
                      - name: content-request
                        tag_fg: '#800000'
                        tag_bg: '#2ecd6f'
                        creator: 301828
                      - name: marketing-okr
                        tag_fg: '#800000'
                        tag_bg: '#7C4DFF'
                        creator: 301828
                      task_url: https://staging.clickup.com/t/rnmuwz7
                examples:
                - data:
                  - id: timer_id
                    wid: workspace_id
                    user:
                      id: 1
                      username: first_name last_name
                      email: test@gmail.com
                      color: '#08c7e0'
                      initials: JK
                      profilePicture: https://attachments-public.clickup.com/profilePictures/1_HHk.jpg
                    billable: false
                    start: '1592841559129'
                    end: '1592845899021'
                    duration: '4339892'
                    description: ''
                    tags: []
                    source: clickup
                    at: '1592845899021'
                    approval_id: 2d539936-119a-4927-9770-179f0a72e2e5
                    approval:
                      $ref: '#/paths/~1v2~1team~1{team_Id}~1time_entries/get/responses/200/content/application~1json/schema/examples/0/data/0/approval'
                    task_location:
                      list_id: 1560300071
                      folder_id: 468300080
                      space_id: 22800253
                      list_name: List
                      folder_name: Folder
                      space_name: Space
                    task_tags:
                    - name: content-request
                      tag_fg: '#800000'
                      tag_bg: '#2ecd6f'
                      creator: 301828
                    - name: marketing-okr
                      tag_fg: '#800000'
                      tag_bg: '#7C4DFF'
                      creator: 301828
                    task_url: https://staging.clickup.com/t/rnmuwz7
              example:
                data:
                - id: timer_id
                  wid: workspace_id
                  user:
                    id: 1
                    username: first_name last_name
                    email: test@gmail.com
                    color: '#08c7e0'
                    initials: JK
                    profilePicture: https://attachments-public.clickup.com/profilePictures/1_HHk.jpg
                  billable: false
                  start: '1592841559129'
                  end: '1592845899021'
                  duration: '4339892'
                  description: ''
                  source: clickup
                  at: '1592845899021'
                  task_location:
                    list_id: 1560300071
                    folder_id: 468300080
                    space_id: 22800253
                    list_name: List
                    folder_name: Folder
                    space_name: Space
                  task_tags:
                  - name: content-request
                    tag_fg: '#800000'
                    tag_bg: '#2ecd6f'
                    creator: 301828
                  - name: marketing-okr
                    tag_fg: '#800000'
                    tag_bg: '#7C4DFF'
                    creator: 301828
                  task_url: https://staging.clickup.com/t/rnmuwz7
      deprecated: false
      security:
      - Authorization_Token: []
    delete:
      summary: Delete a time Entry
      tags:
      - Time Tracking
      description: Delete a time entry from a Workspace.
      operationId: DeleteatimeEntry
      parameters:
      - name: team_id
        in: path
        description: Workspace ID
        required: true
        style: simple
        schema:
          type: number
          contentEncoding: double
          examples:
          - 123
      - name: timer_id
        in: path
        description: Array of timer ids to delete separated by commas
        required: true
        style: simple
        schema:
          type: number
          contentEncoding: double
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          const: application/json
          type: string
          examples:
          - application/json
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                title: DeleteatimeEntryresponse
                required:
                - data
                type: object
                properties:
                  data:
                    $ref: '#/paths/~1v2~1team~1{team_id}~1time_entries~1stop/post/responses/200/content/application~1json/schema/properties/data'
                examples:
                - data:
                    id: timer_id
                    task:
                      id: task_id
                      name: test task
                      status:
                        status: to do
                        color: '#d3d3d3'
                        type: open
                        orderindex: 0
                      custom_type: null
                    wid: workspace_id
                    user:
                      id: 1
                      username: first_name last_name
                      email: test@gmail.com
                      color: '#08c7e0'
                      initials: JK
                      profilePicture: https://attachments-public.clickup.com/profilePictures/1_HHk.jpg
                    billable: false
                    start: '1595289395842'
                    end: 1595289452790
                    duration: 56948
                    description: ''
                    tags: []
                    source: clickup
                    at: 1595289452790
              example:
                data:
                  id: timer_id
                  task:
                    id: task_id
                    name: test task
                    status:
                      status: to do
                      color: '#d3d3d3'
                      type: open
                      orderindex: 0
                    custom_type: null
                  wid: workspace_id
                  user:
                    id: 1
                    username: first_name last_name
                    email: test@gmail.com
                    color: '#08c7e0'
                    initials: JK
                    profilePicture: https://attachments-public.clickup.com/profilePictures/1_HHk.jpg
                  billable: false
                  start: '1595289395842'
                  end: 1595289452790
                  duration: 56948
                  description: ''
                  tags: []
                  source: clickup
                  at: 1595289452790
      deprecated: false
      security:
      - Authorization_Token: []
    put:
      summary: Update a time Entry
      tags:
      - Time Tracking
      description: Update the details of a time entry.
      operationId: UpdateatimeEntry
      parameters:
      - name: team_id
        in: path
        description: Workspace ID
        required: true
        style: simple
        schema:
          type: number
          contentEncoding: double
          examples:
          - 123
      - name: timer_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: number
          contentEncoding: double
          examples:
          - 2004673344540003600
      - name: custom_task_ids
        in: query
        description: If you want to reference a task by it's custom task id, this value must be `true`.
        style: form
        explode: true
        schema:
          type: boolean
          examples:
          - true
      - name: team_id
        in: query
        description: "When the `custom_task_ids` parameter is set to `true`, the Workspace ID must be provided using the `team_id` parameter.\n \\\nFor example: `custom_task_ids=true&team_id=123`"
        style: form
        explode: true
        schema:
          type: number
          contentEncoding: double
          examples:
          - 123
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              title: UpdateatimeEntryrequest
              required:
              - tags
              type: object
              properties:
                description:
                  type: string
                tags:
                  description: Unlimited uses of time entry tags are available on the Business Plus and Enterprise Plan.
                  type: array
                  items:
                    $ref: '#/paths/~1v2~1team~1{team_Id}~1time_entries/post/requestBody/content/application~1json/schema/properties/tags/items'
                tag_action:
                  description: Tag actions are `replace`, `add`, and `remove`. You can perform one tag action per request.
                  type: string
                start:
                  type: integer
                  contentEncoding: int64
                  description: When providing `start`, you must also provide `end`.
                end:
                  type: integer
                  contentEncoding: int64
                  description: When providing `end`, you must also provide `start`.
                tid:
                  description: You can provide a task ID to associate the time entry with a task. Unlimited uses of time entries that are not associated with tasks are available on the Business Plus and Enterprise Plan.
                  type: string
                billable:
                  type: boolean
                duration:
                  type: integer
                  contentEncoding: int32
              examples:
              - description: ''
                tags:
                - name: name of tag
                  tag_bg: '#BF55EC'
                  tag_fg: '#FFFFFF'
                tag_action: add
                start: 1595289395842
                end: 1595289495842
                tid: task_id
                billable: true
                duration: 100000
            example:
              description: ''
              tags:
              - name: name of tag
                tag_bg: '#BF55EC'
                tag_fg: '#FFFFFF'
              tag_action: add
              start: 1595289395842
              end: 1595289495842
              tid: task_id
              billable: true
              duration: 100000
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                type: object
                contentMediaType: application/json
      deprecated: false
      security:
      - Authorization_Token: []
    servers:
    - url: https://api.clickup.com/api
      description: ClickUp
      variables: {}
  /v2/team/{team_id}/time_entries/{timer_id}/history:
    parameters: []
    get:
      summary: Get time entry history
      tags:
      - Time Tracking
      description: View a list of changes made to a time entry.
      operationId: Gettimeentryhistory
      parameters:
      - name: team_id
        in: path
        description: Workspace ID
        required: true
        style: simple
        schema:
          type: number
          contentEncoding: double
          examples:
          - 123
      - name: timer_id
        in: path
        description: "The ID of a time entry. \\\n \\\nThis can be found using the [Get Time Entries Within a Date Range](ref:gettimeentrieswithinadaterange) endpoint."
        required: true
        style: simple
        schema:
          type: string
          examples:
          - '1963465985517105840'
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          const: application/json
          type: string
          examples:
          - application/json
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                type: object
                contentMediaType: application/json
      deprecated: false
      security:
      - Authorization_Token: []
    servers:
    - url: https://api.clickup.com/api
      description: ClickUp
      variables: {}
  /v2/team/{team_id}/time_entries/current:
    parameters: []
    get:
      summary: Get running time entry
      tags:
      - Time Tracking
      description: 'View a time entry that''s currently tracking time for the authenticated user. \

        \

        ***Note:** A time entry that has a negative duration means that timer is currently running for that user.*'
      operationId: Getrunningtimeentry
      parameters:
      - name: team_id
        in: path
        description: Workspace ID
        required: true
        style: simple
        schema:
          type: number
          contentEncoding: double
          examples:
          - 123
      - name: assignee
        in: query
        description: user id
        style: form
        explode: true
        schema:
          type: number
          contentEncoding: double
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          const: application/json
          type: string
          examples:
          - application/json
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                title: Getrunningtimeentryresponse
                required:
                - data
                type: object
                properties:
                  data:
                    title: Data
                    required:
                    - id
                    - task
                    - wid
                    - user
                    - billable
                    - start
                    - duration
                    - description
                    - tags
                    - at
                    type: object
                    properties:
                      id:
                        type: string
                      task:
                        title: Task5
                        required:
                        - id
                        - name
                        - status
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                          status:
                            $ref: '#/paths/~1v2~1task~1{task_id}/get/responses/200/content/application~1json/schema/properties/status'
                        examples:
                        - id: task_id
                          name: task_name
                          status:
                            status: to do
                            color: '#d3d3d3'
                            type: open
                            orderindex: 0
                      wid:
                        type: string
                      user:
                        $ref: '#/paths/~1v2~1task~1{task_id}/get/responses/200/content/application~1json/schema/properties/attachments/items/properties/user'
                      billable:
                        type: boolean
                      start:
                        type: string
                      duration:
                        type: integer
                        contentEncoding: int32
                      description:
                        type: string
                      tags:
                        type: array
                        items:
                          type: string
                        description: ''
                      at:
                        type: string
                    examples:
                    - id: timer_id
                      task:
                        id: task_id
                        name: task_name
                        status:
                          status: to do
                          color: '#d3d3d3'
                          type: open
                          orderindex: 0
                      wid: workspace_id
                      user:
                        id: 300528
                        username: first_name last_name
                        email: test@gmail.com
                        color: '#08c7e0'
                        initials: JK
                        profilePicture: https://attachments-public.clickup.com/profilePictures/1_HHk.jpg
                      billable: false
                      start: '1595293042560'
                      duration: -25655
                      description: ''
                      tags: []
                      at: '1595293042560'
                examples:
                - data:
                    id: timer_id
                    task:
                      id: task_id
                      name: task_name
                      status:
                        status: to do
                        color: '#d3d3d3'
                        type: open
                        orderindex: 0
                    wid: workspace_id
                    user:
                      id: 300528
                      username: first_name last_name
                      email: test@gmail.com
                      color: '#08c7e0'
                      initials: JK
                      profilePicture: https://attachments-public.clickup.com/profilePictures/1_HHk.jpg
                    billable: false
                    start: '1595293042560'
                    duration: -25655
                    description: ''
                    tags: []
                    at: '1595293042560'
              example:
                data:
                  id: timer_id
                  task:
                    id: task_id
                    name: task_name
                    status:
                      status: to do
                      color: '#d3d3d3'
                      type: open
                      orderindex: 0
                  wid: workspace_id
                  user:
                    id: 300528
                    username: first_name last_name
                    email: test@gmail.com
                    color: '#08c7e0'
                    initials: JK
                    profilePicture: https://attachments-public.clickup.com/profilePictures/1_HHk.jpg
                  billable: false
                  start: '1595293042560'
                  duration: -25655
                  description: ''
                  tags: []
                  at: '1595293042560'
      deprecated: false
      security:
      - Authorization_Token: []
    servers:
    - url: https://api.clickup.com/api
      description: ClickUp
      variables: {}
  /v2/team/{team_id}/time_entries/tags:
    parameters: []
    delete:
      summary: Remove tags from time entries
      tags:
      - Time Tracking
      description: Remove labels from time entries. This does not remove the label from a Workspace.
      operationId: Removetagsfromtimeentries
      parameters:
      - name: team_id
        in: path
        description: Workspace ID
        required: true
        style: simple
        schema:
          type: number
          contentEncoding: double
          examples:
          - 123
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              title: Removetagsfromtimeentriesrequest
              required:
              - time_entry_ids
              - tags
              type: object
              properties:
                time_entry_ids:
                  type: array
                  items:
                    type: string
                  description: ''
                tags:
                  type: array
                  items:
                    $ref: '#/paths/~1v2~1team~1{team_Id}~1time_entries~1start/post/requestBody/content/application~1json/schema/properties/tags/items'
                  description: ''
              examples:
              - time_entry_ids:
                - timer_id
                tags:
                - name: name of tag
            example:
              time_entry_ids:
              - timer_id
              tags:
              - name: name of tag
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                type: object
                examples:
                - {}
                contentMediaType: application/json
              example: {}
      deprecated: false
      security:
      - Authorization_Token: []
    get:
      summary: Get all tags from time entries
      tags:
      - Time Tracking
      description: View all the labels that have been applied to time entries in a Workspace.
      operationId: Getalltagsfromtimeentries
      parameters:
      - name: team_id
        in: path
        description: Workspace ID
        required: true
        style: simple
        schema:
          type: number
          contentEncoding: double
          examples:
          - 123
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          const: application/json
          type: string
          examples:
          - application/json
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                title: Getalltagsfromtimeentriesresponse
                required:
                - data
                type: object
                properties:
                  data:
                    type: array
                    items:
                      title: Data1
                      required:
                      - name
                      - creator
                      - tag_bg
                      - tag_fg
                      type: object
                      properties:
                        name:
                          type: string
                        creator:
                          type: integer
                          contentEncoding: int32
                        tag_bg:
                          type: string
                        tag_fg:
                          type: string
                      examples:
                      - name: name of tag
                        creator: 1
                        tag_bg: '#BF55EC'
                        tag_fg: '#FFFFFF'
                    description: ''
                examples:
                - data:
                  - name: name of tag
                    creator: 1
                    tag_bg: '#BF55EC'
                    tag_fg: '#FFFFFF'
              example:
                data:
                - name: name of tag
                  creator: 1
                  tag_bg: '#BF55EC'
                  tag_fg: '#FFFFFF'
      deprecated: false
      security:
      - Authorization_Token: []
    post:
      summary: Add tags from time entries
      tags:
      - Time Tracking
      description: Add a label to a time entry.
      operationId: Addtagsfromtimeentries
      parameters:
      - name: team_id
        in: path
        description: Workspace ID
        required: true
        style: simple
        schema:
          type: number
          contentEncoding: double
          examples:
          - 123
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              title: Addtagsfromtimeentriesrequest
              required:
              - time_entry_ids
              - tags
              type: object
              properties:
                time_entry_ids:
                  type: array
                  items:
                    type: string
                  description: ''
                tags:
                  type: array
                  items:
                    $ref: '#/paths/~1v2~1team~1{team_Id}~1time_entries/post/requestBody/content/application~1json/schema/properties/tags/items'
                  description: ''
              examples:
              - time_entry_ids:
                - timer_id
                tags:
                - name: name of tag
                  tag_bg: '#BF55EC'
                  tag_fg: '#FFFFFF'
            example:
              time_entry_ids:
              - timer_id
              tags:
              - name: name of tag
                tag_bg: '#BF55EC'
                tag_fg: '#FFFFFF'
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                type: object
                examples:
                - {}
                contentMediaType: application/json
              example: {}
      deprecated: false
      security:
      - Authorization_Token: []
    put:
      summary: Change tag names from time entries
      tags:
      - Time Tracking
      description: Rename an time entry label.
      operationId: Changetagnamesfromtimeentries
      parameters:
      - name: team_id
        in: path
        description: Workspace ID
        required: true
        style: simple
        schema:
          type: number
          contentEncoding: double
          examples:
          - 123
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              title: Changetagnamesfromtimeentriesrequest
              required:
              - name
              - new_name
              - tag_bg
              - tag_fg
              type: object
              properties:
                name:
                  type: string
                new_name:
                  type: string
                tag_bg:
                  type: string
                tag_fg:
                  type: string
              examples:
              - name: old tag name
                new_name: new tag name
                tag_bg: '#000000'
                tag_fg: '#000000'
            example:
              name: old tag name
              new_name: new tag name
              tag_bg: '#000000'
              tag_fg: '#000000'
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                type: object
                examples:
                - {}
                contentMediaType: application/json
              example: {}
      deprecated: false
      security:
      - Authorization_Token: []
    servers:
    - url: https://api.clickup.com/api
      description: ClickUp
      variables: {}
  /v2/team/{team_Id}/time_entries/start:
    parameters: []
    post:
      summary: Start a time Entry
      tags:
      - Time Tracking
      description: Start a timer for the authenticated user.
      operationId: StartatimeEntry
      parameters:
      - name: team_Id
        in: path
        description: Workspace ID
        required: true
        style: simple
        schema:
          type: number
          contentEncoding: double
          examples:
          - 123
      - name: custom_task_ids
        in: query
        description: If you want to reference a task by it's custom task id, this value must be `true`.
        style: form
        explode: true
        schema:
          type: boolean
          examples:
          - true
      - name: team_id
        in: query
        description: "When the `custom_task_ids` parameter is set to `true`, the Workspace ID must be provided using the `team_id` parameter.\n \\\nFor example: `custom_task_ids=true&team_id=123`."
        style: form
        explode: true
        schema:
          type: number
          contentEncoding: double
          examples:
          - 123
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              title: StartatimeEntryrequest
              type: object
              properties:
                description:
                  type: string
                tags:
                  description: Unlimited uses of time entry tags are available on the Business Plus and Enterprise Plan.
                  type: array
                  items:
                    title: Tags10
                    required:
                    - name
                    type: object
                    properties:
                      name:
                        type: string
                    examples:
                    - name: name of tag
                tid:
                  description: You can provide a task ID to associate the time entry with a task. Unlimited uses of time entries that are not associated with tasks are available on the Business Plus and Enterprise Plan.
                  type: string
                billable:
                  type: boolean
              examples:
              - description: from api
                tags:
                - name: tag1
                tid: task_id
                billable: false
            example:
              description: from api
              tags:
              - name: tag1
              tid: task_id
              billable: false
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                title: StartatimeEntryresponse
                required:
                - data
                type: object
                properties:
                  data:
                    title: Data2
                    required:
                    - id
                    - task
                    - wid
                    - user
                    - billable
                    - start
                    - duration
                    - description
                    - tags
                    - at
                    type: object
                    properties:
                      id:
                        type: string
                      task:
                        $ref: '#/paths/~1v2~1team~1{team_id}~1time_entries~1stop/post/responses/200/content/application~1json/schema/properties/data/properties/task'
                      wid:
                        type: string
                      user:
                        $ref: '#/paths/~1v2~1task~1{task_id}/get/responses/200/content/application~1json/schema/properties/attachments/items/properties/user'
                      billable:
                        type: boolean
                      start:
                        type: string
                      duration:
                        type: integer
                        contentEncoding: int32
                      description:
                        type: string
                      tags:
                        type: array
                        items:
                          type: string
                        description: ''
                      at:
                        type: integer
                        contentEncoding: int64
                    examples:
                    - id: timer_id
                      task:
                        id: task_id
                        name: test task
                        status:
                          status: to do
                          color: '#d3d3d3'
                          type: open
                          orderindex: 0
                        custom_type: null
                      wid: workspace_id
                      user:
                        id: 1
                        username: first_name last_name
                        email: test@gmail.com
                        color: '#08c7e0'
                        initials: JK
                        profilePicture: https://attachments-public.clickup.com/profilePictures/1_HHk.jpg
                      billable: false
                      start: '1595289395842'
                      duration: -53
                      description: ''
                      tags: []
                      at: 1595289452790
                examples:
                - data:
                    id: timer_id
                    task:
                      id: task_id
                      name: test task
                      status:
                        status: to do
                        color: '#d3d3d3'
                        type: open
                        orderindex: 0
                      custom_type: null
                    wid: workspace_id
                    user:
                      id: 1
                      username: first_name last_name
                      email: test@gmail.com
                      color: '#08c7e0'
                      initials: JK
                      profilePicture: https://attachments-public.clickup.com/profilePictures/1_HHk.jpg
                    billable: false
                    start: '1595289395842'
                    duration: -53
                    description: ''
                    tags: []
                    at: 1595289452790
              example:
                data:
                  id: timer_id
                  task:
                    id: task_id
                    name: test task
                    status:
                      status: to do
                      color: '#d3d3d3'
                      type: open
                      orderindex: 0
                    custom_type: null
                  wid: workspace_id
                  user:
                    id: 1
                    username: first_name last_name
                    email: test@gmail.com
                    color: '#08c7e0'
                    initials: JK
                    profilePicture: https://attachments-public.clickup.com/profilePictures/1_HHk.jpg
                  billable: false
                  start: '1595289395842'
                  duration: -53
                  description: ''
                  tags: []
                  at: 1595289452790
      deprecated: false
      security:
      - Authorization_Token: []
    servers:
    - url: https://api.clickup.com/api
      description: ClickUp
      variables: {}
  /v2/team/{team_id}/time_entries/stop:
    parameters: []
    post:
      summary: Stop a time Entry
      tags:
      - Time Tracking
      description: Stop a timer that's currently running for the authenticated user.
      operationId: StopatimeEntry
      parameters:
      - name: team_id
        in: path
        description: Workspace ID
        required: true
        style: simple
        schema:
          type: number
          contentEncoding: double
          examples:
          - 123
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          const: application/json
          type: string
          examples:
          - application/json
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                title: StopatimeEntryresponse
                required:
                - data
                type: object
                properties:
                  data:
                    title: Data3
                    required:
                    - id
                    - task
                    - wid
                    - user
                    - billable
                    - start
                    - end
                    - duration
                    - description
                    - tags
                    - source
                    - at
                    type: object
                    properties:
                      id:
                        type: string
                      task:
                        title: Task6
                        required:
                        - id
                        - name
                        - status
                        - custom_type
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                          status:
                            $ref: '#/paths/~1v2~1task~1{task_id}/get/responses/200/content/application~1json/schema/properties/status'
                          custom_type:
                            type:
                            - string
                            - 'null'
                        examples:
                        - id: task_id
                          name: test task
                          status:
                            status: to do
                            color: '#d3d3d3'
                            type: open
                            orderindex: 0
                          custom_type: null
                      wid:
                        type: string
                      user:
                        $ref: '#/paths/~1v2~1task~1{task_id}/get/responses/200/content/application~1json/schema/properties/attachments/items/properties/user'
                      billable:
                        type: boolean
                      start:
                        type: string
                      end:
                        type: integer
                        contentEncoding: int64
                      duration:
                        type: integer
                        contentEncoding: int32
                      description:
                        type: string
                      tags:
                        type: array
                        items:
                          type: string
                        description: ''
                      source:
                        type: string
                      at:
                        type: integer
                        contentEncoding: int64
                    examples:
                    - id: timer_id
                      task:
                        id: task_id
                        name: test task
                        status:
                          status: to do
                          color: '#d3d3d3'
                          type: open
                          orderindex: 0
                        custom_type: null
                      wid: workspace_id
                      user:
                        id: 1
                        username: first_name last_name
                        email: test@gmail.com
                        color: '#08c7e0'
                        initials: JK
                        profilePicture: https://attachments-public.clickup.com/profilePictures/1_HHk.jpg
                      billable: false
                      start: '1595289395842'
                      end: 1595289452790
                      duration: 56948
                      description: ''
                      tags: []
                      source: clickup
                      at: 1595289452790
                examples:
                - data:
                    id: timer_id
                    task:
                      id: task_id
                      name: test task
                      status:
                        status: to do
                        color: '#d3d3d3'
                        type: open
                        orderindex: 0
                      custom_type: null
                    wid: workspace_id
                    user:
                      id: 1
                      username: first_name last_name
                      email: test@gmail.com
                      color: '#08c7e0'
                      initials: JK
                      profilePicture: https://attachments-public.clickup.com/profilePictures/1_HHk.jpg
                    billable: false
                    start: '1595289395842'
                    end: 1595289452790
                    duration: 56948
                    description: ''
                    tags: []
                    source: clickup
                    at: 1595289452790
              example:
                data:
                  id: timer_id
                  task:
                    id: task_id
                    name: test task
                    status:
                      status: to do
                      color: '#d3d3d3'
                      type: open
                      orderindex: 0
                    custom_type: null
                  wid: workspace_id
                  user:
                    id: 1
                    username: first_name last_name
                    email: test@gmail.com
                    color: '#08c7e0'
                    initials: JK
                    profilePicture: https://attachments-public.clickup.com/profilePictures/1_HHk.jpg
                  billable: false
                  start: '1595289395842'
                  end: 1595289452790
                  duration: 56948
                  description: ''
                  tags: []
                  source: clickup
                  at: 1595289452790
      deprecated: false
      security:
      - Authorization_Token: []
    servers:
    - url: https://api.clickup.com/api
      description: ClickUp
      variables: {}
  /team/{team_id}/time_entries:
    get:
      operationId: getTimeEntries
      summary: Get time entries within a date range
      description: Retrieves time entries within a specified date range for a Workspace. Results can be filtered by assignees and task IDs. Returns time entries with their duration, start time, end time, and associated task information.
      tags:
      - Time Tracking
      parameters:
      - $ref: '#/components/parameters/teamId'
      - name: start_date
        in: query
        description: Unix timestamp in milliseconds for the start of the date range.
        schema:
          type: integer
          format: int64
      - name: end_date
        in: query
        description: Unix timestamp in milliseconds for the end of the date range.
        schema:
          type: integer
          format: int64
      - name: assignee
        in: query
        description: Comma-separated list of user IDs to filter by assignees.
        schema:
          type: string
      - name: include_task_tags
        in: query
        description: Include tags from the associated tasks.
        schema:
          type: boolean
      - name: include_location_names
        in: query
        description: Include names of the spaces, folders, and lists.
        schema:
          type: boolean
      - name: space_id
        in: query
        description: Filter by Space ID.
        schema:
          type: integer
      - name: folder_id
        in: query
        description: Filter by Folder ID.
        schema:
          type: integer
      - name: list_id
        in: query
        description: Filter by List ID.
        schema:
          type: integer
      - name: task_id
        in: query
        description: Filter by Task ID.
        schema:
          type: string
      - name: custom_task_ids
        in: query
        description: If true, the task_id parameter should be a custom task ID.
        schema:
          type: boolean
      responses:
        '200':
          description: Successfully retrieved time entries
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TimeEntry'
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
    post:
      operationId: createTimeEntry
      summary: Create a time entry
      description: Creates a manual time entry for a task in a Workspace. The time entry requires a start timestamp and duration. Optionally, a description, tags, and billable status can be included.
      tags:
      - Time Tracking
      parameters:
      - $ref: '#/components/parameters/teamId'
      - name: custom_task_ids
        in: query
        description: If true, the tid parameter should be a custom task ID.
        schema:
          type: boolean
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTimeEntryRequest'
      responses:
        '200':
          description: Time entry created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TimeEntry'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
    servers:
    - url: https://api.clickup.com/api/v2
      description: ClickUp API v2 Production Server
  /team/{team_id}/time_entries/{timer_id}:
    get:
      operationId: getSingleTimeEntry
      summary: Get a single time entry
      description: Retrieves details of a specific time entry by its ID.
      tags:
      - Time Tracking
      parameters:
      - $ref: '#/components/parameters/teamId'
      - $ref: '#/components/parameters/timerId'
      responses:
        '200':
          description: Successfully retrieved time entry
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TimeEntry'
        '401':
          description: Unauthorized
        '404':
          description: Time entry not found
      security:
      - bearerAuth: []
    put:
      operationId: updateTimeEntry
      summary: Update a time entry
      description: Updates an existing time entry. The start time, end time, duration, description, tags, and billable status can be modified.
      tags:
      - Time Tracking
      parameters:
      - $ref: '#/components/parameters/teamId'
      - $ref: '#/components/parameters/timerId'
      - name: custom_task_ids
        in: query
        description: If true, the tid parameter should be a custom task ID.
        schema:
          type: boolean
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTimeEntryRequest'
      responses:
        '200':
          description: Time entry updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TimeEntry'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Time entry not found
      security:
      - bearerAuth: []
    delete:
      operationId: deleteTimeEntry
      summary: Delete a time entry
      description: Permanently deletes a time entry. This action cannot be undone.
      tags:
      - Time Tracking
      parameters:
      - $ref: '#/components/parameters/teamId'
      - $ref: '#/components/parameters/timerId'
      responses:
        '200':
          description: Time entry deleted successfully
        '401':
          description: Unauthorized
        '404':
          description: Time entry not found
      security:
      - bearerAuth: []
    servers:
    - url: https://api.clickup.com/api/v2
      description: ClickUp API v2 Production Server
  /team/{team_id}/time_entries/current:
    get:
      operationId: getCurrentTimeEntry
      summary: Get running time entry
      description: Retrieves the currently running time entry (timer) for the authenticated user within a Workspace.
      tags:
      - Time Tracking
      parameters:
      - $ref: '#/components/parameters/teamId'
      - name: assignee
        in: query
        description: User ID to get the running timer for. Defaults to the authenticated user.
        schema:
          type: integer
      responses:
        '200':
          description: Successfully retrieved current time entry
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TimeEntry'
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
    servers:
    - url: https://api.clickup.com/api/v2
      description: ClickUp API v2 Production Server
  /team/{team_id}/time_entries/start/{timer_id}:
    post:
      operationId: startTimeEntry
      summary: Start a time entry
      description: Starts a timer for a specific time entry. If another timer is already running, it will be stopped first.
      tags:
      - Time Tracking
      parameters:
      - $ref: '#/components/parameters/teamId'
      - $ref: '#/components/parameters/timerId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tid:
                  type: string
                  description: The task ID to associate with the timer.
                description:
                  type: string
                  description: Description for the time entry.
                billable:
                  type: boolean
                  description: Whether the time entry is billable.
      responses:
        '200':
          description: Timer started successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TimeEntry'
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
    servers:
    - url: https://api.clickup.com/api/v2
      description: ClickUp API v2 Production Server
  /team/{team_id}/time_entries/stop:
    post:
      operationId: stopTimeEntry
      summary: Stop a time entry
      description: Stops the currently running timer for the authenticated user within a Workspace.
      tags:
      - Time Tracking
      parameters:
      - $ref: '#/components/parameters/teamId'
      responses:
        '200':
          description: Timer stopped successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TimeEntry'
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
    servers:
    - url: https://api.clickup.com/api/v2
      description: ClickUp API v2 Production Server
  /team/{team_id}/time_entries/tags:
    get:
      operationId: getTimeEntryTags
      summary: Get all time entry tags
      description: Retrieves all tags that have been used on time entries within a Workspace.
      tags:
      - Time Tracking
      parameters:
      - $ref: '#/components/parameters/teamId'
      responses:
        '200':
          description: Successfully retrieved time entry tags
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The tag name.
                        tag_bg:
                          type: string
                          description: Background color of the tag.
                        tag_fg:
                          type: string
                          description: Foreground color of the tag.
                        creator:
                          type: integer
                          description: The user ID of the tag creator.
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
    post:
      operationId: addTagsToTimeEntries
      summary: Add tags to time entries
      description: Adds tags to one or more time entries within a Workspace.
      tags:
      - Time Tracking
      parameters:
      - $ref: '#/components/parameters/teamId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - time_entry_ids
              - tags
              properties:
                time_entry_ids:
                  type: array
                  items:
                    type: string
                  description: Array of time entry IDs to add tags to.
                tags:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: The tag name.
                      tag_bg:
                        type: string
                        description: Background color.
                      tag_fg:
                        type: string
                        description: Foreground color.
                  description: Array of tag objects to add.
      responses:
        '200':
          description: Tags added successfully
        '400':
          description: Bad request
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
    servers:
    - url: https://api.clickup.com/api/v2
      description: ClickUp API v2 Production Server
components:
  parameters:
    teamId:
      name: team_id
      in: path
      required: true
      description: The unique identifier of the Workspace (team).
      schema:
        type: integer
    timerId:
      name: timer_id
      in: path
      required: true
      description: The unique identifier of the time entry.
      schema:
        type: string
  schemas:
    TimeEntry:
      type: object
      description: A time entry recording tracked time on a task.
      properties:
        id:
          type: string
          description: The unique identifier of the time entry.
        task:
          type: object
          properties:
            id:
              type: string
              description: The task ID.
            name:
              type: string
              description: The task name.
            status:
              type: object
              properties:
                status:
                  type: string
                  description: The status name.
                color:
                  type: string
                  description: The status color.
                type:
                  type: string
                  description: The status type.
              description: The task status.
            custom_type:
              type: string
              nullable: true
              description: Custom task type if applicable.
          description: The task this time entry is associated with.
        wid:
          type: string
          description: The Workspace ID.
        user:
          type: object
          properties:
            id:
              type: integer
              description: The user ID.
            username:
              type: string
              description: The username.
            email:
              type: string
              format: email
              description: The email address.
            color:
              type: string
              description: The user color.
            profilePicture:
              type: string
              format: uri
              nullable: true
              description: URL of the profile picture.
            initials:
              type: string
              description: The user initials.
          description: The user who logged the time entry.
        billable:
          type: boolean
          description: Whether the time entry is billable.
        start:
          type: string
          description: Unix timestamp in milliseconds when the time entry started.
        end:
          type: string
          description: Unix timestamp in milliseconds when the time entry ended.
        duration:
          type: string
          description: Duration of the time entry in milliseconds.
        description:
          type: string
          description: Description of the time entry.
        tags:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: The tag name.
              tag_bg:
                type: string
                description: Background color.
              tag_fg:
                type: string
                description: Foreground color.
              creator:
                type: integer
                description: The tag creator user ID.
          description: Tags associated with the time entry.
        source:
          type: string
          description: The source of the time entry (e.g., clickup, api).
        at:
          type: string
          description: Unix timestamp when the time entry was last modified.
        task_location:
          type: object
          properties:
            list_id:
              type: integer
              description: The list ID.
            folder_id:
              type: integer
              description: The folder ID.
            space_id:
              type: integer
              description: The space ID.
            list_name:
              type: string
              description: The list name.
            folder_name:
              type: string
              description: The folder name.
            space_name:
              type: string
              description: The space name.
          description: Location details of the associated task.
        task_tags:
          type: array
          items:
            type: object
          description: Tags from the associated task.
    UpdateTimeEntryRequest:
      type: object
      description: Request body for updating an existing time entry.
      properties:
        tid:
          type: string
          description: Updated task ID.
        description:
          type: string
          description: Updated description.
        start:
          type: integer
          format: int64
          description: Updated start time.
        end:
          type: integer
          format: int64
          description: Updated end time.
        duration:
          type: integer
          description: Updated duration in milliseconds.
        billable:
          type: boolean
          description: Updated billable status.
        tag_action:
          type: string
          enum:
          - add
          - remove
          description: Whether to add or remove tags.
        tags:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: The tag name.
          description: Tags to add or remove.
    CreateTimeEntryRequest:
      type: object
      required:
      - start
      - duration
      description: Request body for creating a manual time entry.
      properties:
        tid:
          type: string
          description: The task ID to associate with the time entry.
        description:
          type: string
          description: Description of the time entry.
        start:
          type: integer
          format: int64
          description: Start time as Unix timestamp in milliseconds.
        stop:
          type: integer
          format: int64
          description: Stop time as Unix timestamp in milliseconds. If omitted, duration is used to calculate the end time.
        duration:
          type: integer
          description: Duration in milliseconds.
        assignee:
          type: integer
          description: User ID to assign the time entry to.
        billable:
          type: boolean
          description: Whether the time entry is billable.
        tags:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: The tag name.
          description: Tags to associate with the time entry.
  securitySchemes:
    Authorization_Token:
      name: Authorization
      type: apiKey
      in: header
      description: 'API token required for authentication. Two types of tokens are supported:

        **Personal API Key** Obtain from ClickUp''s settings page under ''Apps'' and add it to the header as `Authorization: pk_...`

        **OAuth2 Access Token** Generated through the OAuth2 flow and add it to the header as `Authorization: Bearer {access_token}`'
    bearerAuth:
      type: http
      scheme: bearer
      description: ClickUp personal API token or OAuth access token.
externalDocs:
  description: ClickUp Time Tracking API Documentation
  url: https://developer.clickup.com/reference/get-time-entries-within-a-date-range
x-refined-from:
- clickup-api-v2-reference-openapi.json
- clickup-time-tracking-openapi.yml
