openapi: 3.2.0
info:
  title: Clickup Time Tracking (Legacy) API
  version: '2.0'
  contact: {}
  description: 'Operations tagged Time Tracking (Legacy) across 2 of this provider''s published API definitions: clickup-api-v2-reference-openapi.json, clickup-api-v2-reference-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.clickup.com/api
  description: ClickUp
  variables: {}
security:
- Authorization_Token: []
tags:
- name: Time Tracking (Legacy)
paths:
  /v2/task/{task_id}/time:
    parameters: []
    get:
      summary: Get tracked time
      tags:
      - Time Tracking (Legacy)
      description: '***Note:** This is a legacy time tracking endpoint. We recommend using the Time Tracking API endpoints to manage time entries.*'
      operationId: Gettrackedtime
      parameters:
      - name: task_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
          examples:
          - 9hv
      - name: custom_task_ids
        in: query
        description: If you want to reference a task by it's custom task id, this value must be `true`.
        style: form
        explode: true
        schema:
          type: boolean
          examples:
          - true
      - name: team_id
        in: query
        description: "When the `custom_task_ids` parameter is set to `true`, the Workspace ID must be provided using the `team_id` parameter.\n \\\nFor example: `custom_task_ids=true&team_id=123`."
        style: form
        explode: true
        schema:
          type: number
          contentEncoding: double
          examples:
          - 123
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          const: application/json
          type: string
          examples:
          - application/json
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                title: Gettrackedtimeresponse
                required:
                - data
                type: object
                properties:
                  data:
                    type: array
                    items:
                      title: Datum
                      required:
                      - user
                      - time
                      - intervals
                      type: object
                      properties:
                        user:
                          title: User13
                          required:
                          - id
                          - username
                          - email
                          - color
                          - initials
                          - profilePicture
                          type: object
                          properties:
                            id:
                              type: integer
                              contentEncoding: int32
                            username:
                              type: string
                            email:
                              type: string
                            color:
                              type: string
                            initials:
                              type: string
                            profilePicture:
                              type:
                              - string
                              - 'null'
                          examples:
                          - id: 1
                            username: John Doe
                            email: johndoe@gmail.com
                            color: '#795548'
                            initials: JD
                            profilePicture: null
                        time:
                          type: integer
                          contentEncoding: int32
                        intervals:
                          type: array
                          items:
                            title: Interval
                            required:
                            - id
                            - start
                            - end
                            - time
                            - source
                            - date_added
                            type: object
                            properties:
                              id:
                                type: string
                              start:
                                type:
                                - string
                                - 'null'
                              end:
                                type:
                                - string
                                - 'null'
                              time:
                                type: string
                              source:
                                type: string
                              date_added:
                                type: string
                            examples:
                            - id: '318'
                              start: null
                              end: null
                              time: '1000000'
                              source: chrome
                              date_added: '1569983937761'
                          description: ''
                      examples:
                      - user:
                          id: 1
                          username: John Doe
                          email: johndoe@gmail.com
                          color: '#795548'
                          initials: JD
                          profilePicture: null
                        time: 1000000
                        intervals:
                        - id: '318'
                          start: null
                          end: null
                          time: '1000000'
                          source: chrome
                          date_added: '1569983937761'
                    description: ''
                examples:
                - data:
                  - user:
                      id: 1
                      username: John Doe
                      email: johndoe@gmail.com
                      color: '#795548'
                      initials: JD
                      profilePicture: null
                    time: 1000000
                    intervals:
                    - id: '318'
                      start: null
                      end: null
                      time: '1000000'
                      source: chrome
                      date_added: '1569983937761'
              example:
                data:
                - user:
                    id: 1
                    username: John Doe
                    email: johndoe@gmail.com
                    color: '#795548'
                    initials: JD
                    profilePicture: null
                  time: 1000000
                  intervals:
                  - id: '318'
                    start: null
                    end: null
                    time: '1000000'
                    source: chrome
                    date_added: '1569983937761'
      deprecated: false
    post:
      summary: Track time
      tags:
      - Time Tracking (Legacy)
      description: '***Note:** This is a legacy time tracking endpoint. We recommend using the Time Tracking API endpoints to manage time entries.*'
      operationId: Tracktime
      parameters:
      - name: task_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
          examples:
          - 9hv
      - name: custom_task_ids
        in: query
        description: If you want to reference a task by it's custom task id, this value must be `true`.
        style: form
        explode: true
        schema:
          type: boolean
          examples:
          - true
      - name: team_id
        in: query
        description: "When the `custom_task_ids` parameter is set to `true`, the Workspace ID must be provided using the `team_id` parameter.\n \\\nFor example: `custom_task_ids=true&team_id=123`."
        style: form
        explode: true
        schema:
          type: number
          contentEncoding: double
          examples:
          - 123
      requestBody:
        description: "Include the total time or the start time and end time.\\\n \\\nThe total time is in milliseconds and `\"start\"` and `\"end\"` values are Unix time in milliseconds."
        content:
          application/json:
            schema:
              title: Tracktimerequest
              required:
              - start
              - end
              - time
              type: object
              properties:
                start:
                  type: integer
                  contentEncoding: int64
                end:
                  type: integer
                  contentEncoding: int64
                time:
                  type: integer
                  contentEncoding: int32
              examples:
              - start: 1567780450202
                end: 1508369194377
                time: 8640000
            example:
              start: 1567780450202
              end: 1508369194377
              time: 8640000
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                title: Tracktimeresponse
                required:
                - id
                type: object
                properties:
                  id:
                    type: string
                examples:
                - id: '123'
              example:
                id: '123'
      deprecated: false
    servers:
    - url: https://api.clickup.com/api
      description: ClickUp
      variables: {}
  /v2/task/{task_id}/time/{interval_id}:
    parameters: []
    put:
      summary: Edit time tracked
      tags:
      - Time Tracking (Legacy)
      description: '***Note:** This is a legacy time tracking endpoint. We recommend using the Time Tracking API endpoints to manage time entries.*'
      operationId: Edittimetracked
      parameters:
      - name: task_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
          examples:
          - 9hv
      - name: interval_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
          examples:
          - '123'
      - name: custom_task_ids
        in: query
        description: If you want to reference a task by it's custom task id, this value must be `true`.
        style: form
        explode: true
        schema:
          type: boolean
          examples:
          - true
      - name: team_id
        in: query
        description: "When the `custom_task_ids` parameter is set to `true`, the Workspace ID must be provided using the `team_id` parameter.\n \\\nFor example: `custom_task_ids=true&team_id=123`."
        style: form
        explode: true
        schema:
          type: number
          contentEncoding: double
          examples:
          - 123
      requestBody:
        description: Edit the start, end, or total time of a time tracked entry.
        content:
          application/json:
            schema:
              title: Edittimetrackedrequest
              required:
              - start
              - end
              - time
              type: object
              properties:
                start:
                  type: integer
                  contentEncoding: int64
                end:
                  type: integer
                  contentEncoding: int64
                time:
                  type: integer
                  contentEncoding: int32
              examples:
              - start: 1567780450202
                end: 1508369194377
                time: 8640000
            example:
              start: 1567780450202
              end: 1508369194377
              time: 8640000
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                type: object
                examples:
                - {}
                contentMediaType: application/json
              example: {}
      deprecated: false
    delete:
      summary: Delete time tracked
      tags:
      - Time Tracking (Legacy)
      description: '***Note:** This is a legacy time tracking endpoint. We recommend using the Time Tracking API endpoints to manage time entries.*'
      operationId: Deletetimetracked
      parameters:
      - name: task_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
          examples:
          - 9hv
      - name: interval_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
          examples:
          - '123'
      - name: custom_task_ids
        in: query
        description: If you want to reference a task by it's custom task id, this value must be `true`.
        style: form
        explode: true
        schema:
          type: boolean
          examples:
          - true
      - name: team_id
        in: query
        description: "When the `custom_task_ids` parameter is set to `true`, the Workspace ID must be provided using the `team_id` parameter.\n \\\nFor example: `custom_task_ids=true&team_id=123`."
        style: form
        explode: true
        schema:
          type: number
          contentEncoding: double
          examples:
          - 123
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          const: application/json
          type: string
          examples:
          - application/json
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                type: object
                examples:
                - {}
                contentMediaType: application/json
              example: {}
      deprecated: false
    servers:
    - url: https://api.clickup.com/api
      description: ClickUp
      variables: {}
components:
  securitySchemes:
    Authorization_Token:
      name: Authorization
      type: apiKey
      in: header
      description: 'API token required for authentication. Two types of tokens are supported:

        **Personal API Key** Obtain from ClickUp''s settings page under ''Apps'' and add it to the header as `Authorization: pk_...`

        **OAuth2 Access Token** Generated through the OAuth2 flow and add it to the header as `Authorization: Bearer {access_token}`'
x-refined-from:
- clickup-api-v2-reference-openapi.json
- clickup-api-v2-reference-openapi.json
