openapi: 3.2.0
info:
  title: ClickUp O Auth API
  description: The ClickUp OAuth API implements the authorization code grant type, allowing third-party applications to authenticate users and access their ClickUp Workspaces. Workspace owners or admins can create OAuth apps, and users authorize access by granting permissions to specific Workspaces. The API provides endpoints for obtaining authorization codes, exchanging them for access tokens, and retrieving the authenticated user's information.
  version: '2.0'
  contact:
    name: ClickUp Support
    url: https://help.clickup.com
  termsOfService: https://clickup.com/terms
servers:
- url: https://api.clickup.com/api/v2
  description: ClickUp API v2 Production Server
security: []
tags:
- name: OAuth
  description: Operations for OAuth 2.0 authentication and token management.
paths:
  /oauth/token:
    post:
      operationId: getAccessToken
      summary: Get access token
      description: Exchanges an authorization code for an access token. This is the second step in the OAuth 2.0 authorization code flow. The client ID, client secret, and authorization code must be provided.
      tags:
      - OAuth
      parameters:
      - name: client_id
        in: query
        required: true
        description: The OAuth app client ID.
        schema:
          type: string
      - name: client_secret
        in: query
        required: true
        description: The OAuth app client secret.
        schema:
          type: string
      - name: code
        in: query
        required: true
        description: The authorization code received from the authorization step.
        schema:
          type: string
      responses:
        '200':
          description: Access token obtained successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: The access token to use for API requests.
        '400':
          description: Bad request - invalid code or credentials
        '401':
          description: Unauthorized - invalid client credentials
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: ClickUp OAuth access token or personal API token. Include in the Authorization header as Bearer {token}.
externalDocs:
  description: ClickUp OAuth Documentation
  url: https://developer.clickup.com/docs/authentication
