openapi: 3.2.0
info:
  title: ClickUp Public API v3 Chat API
  version: version
  description: This API is exposed to the public internet and is meant to be accessed by third-party integrations.
servers:
- url: https://api.clickup.com/
  description: ClickUp
security:
- authHeader: []
tags:
- description: Chat API
  name: Chat
paths:
  /api/v3/workspaces/{workspace_id}/chat/channels:
    get:
      operationId: getChatChannels
      summary: Retrieve Channels
      description: This endpoint retrieves the Channels in a Workspace.
      parameters:
      - name: workspace_id
        in: path
        description: The ID of the Workspace.
        required: true
        schema:
          $ref: '#/components/schemas/ChatPublicApiChatChannelsControllerGetChatChannelsWorkspaceIdPath'
      - name: description_format
        in: query
        description: 'Format of the Channel description (Default: text/md).'
        required: false
        schema:
          $ref: '#/components/schemas/ChatTextFormat'
      - name: cursor
        in: query
        description: Used to request the next page of results.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of results to fetch for this page.
        required: false
        schema:
          $ref: '#/components/schemas/ChatPublicApiChatChannelsControllerGetChatChannelsLimitQuery'
      - name: is_follower
        in: query
        description: Only return Channels the user is following.
        required: false
        schema:
          $ref: '#/components/schemas/ChatPublicApiChatChannelsControllerGetChatChannelsIsFollowerQuery'
      - name: include_closed
        in: query
        description: Include DMs/Group DMs that have been explicitly closed.
        required: false
        schema:
          $ref: '#/components/schemas/ChatPublicApiChatChannelsControllerGetChatChannelsIncludeClosedQuery'
      - name: with_message_since
        in: query
        description: Only return Channels with at least one message since the given timestamp.
        required: false
        schema:
          $ref: '#/components/schemas/ChatPublicApiChatChannelsControllerGetChatChannelsWithMessageSinceQuery'
      - name: channel_types
        in: query
        description: Specify the types of Channels to return from the request.
        required: false
        schema:
          $ref: '#/components/schemas/ChatPublicApiChatChannelsControllerGetChatChannelsChannelTypesQuery'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatPublicApiChatChannelsControllerGetChatChannels200Response'
        default:
          description: Generic Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatPublicApiErrorResponse'
      tags:
      - Chat
      x-is-workspace-endpoint: true
    post:
      operationId: createChatChannel
      summary: Create a Channel
      description: This endpoint creates a new Channel not tied to a Space, Folder, or List. If a Channel with the specified name already exists it returns it.
      parameters:
      - name: workspace_id
        in: path
        description: The ID of the Workspace.
        required: true
        schema:
          $ref: '#/components/schemas/ChatPublicApiChatChannelsControllerCreateChatChannelWorkspaceIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCreateChatChannel'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatPublicApiChatChannelsControllerCreateChatChannel200Response'
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatPublicApiChatChannelsControllerCreateChatChannel201Response'
        default:
          description: Generic Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatPublicApiErrorResponse'
      tags:
      - Chat
      x-is-workspace-endpoint: true
  /api/v3/workspaces/{workspace_id}/chat/channels/location:
    post:
      operationId: createLocationChatChannel
      summary: Create a Channel on a Space, Folder, or List
      description: This endpoint creates a Channel on a Space, Folder, or List. When a Channel already exists on the requested location, it returns it.
      parameters:
      - name: workspace_id
        in: path
        description: The ID of the Workspace.
        required: true
        schema:
          $ref: '#/components/schemas/ChatPublicApiChatChannelsControllerCreateLocationChatChannelWorkspaceIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCreateLocationChatChannel'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatPublicApiChatChannelsControllerCreateLocationChatChannel200Response'
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatPublicApiChatChannelsControllerCreateLocationChatChannel201Response'
        default:
          description: Generic Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatPublicApiErrorResponse'
      tags:
      - Chat
      x-is-workspace-endpoint: true
  /api/v3/workspaces/{workspace_id}/chat/channels/direct_message:
    post:
      operationId: createDirectMessageChatChannel
      summary: Create a Direct Message
      description: This endpoint creates a new Direct Message between up to 15 users. If a Direct Message between those users already exists it returns it.
      parameters:
      - name: workspace_id
        in: path
        description: The ID of the Workspace.
        required: true
        schema:
          $ref: '#/components/schemas/ChatPublicApiChatChannelsControllerCreateDirectMessageChatChannelWorkspaceIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCreateDirectMessageChatChannel'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatPublicApiChatChannelsControllerCreateDirectMessageChatChannel200Response'
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatPublicApiChatChannelsControllerCreateDirectMessageChatChannel201Response'
        default:
          description: Generic Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatPublicApiErrorResponse'
      tags:
      - Chat
      x-is-workspace-endpoint: true
  /api/v3/workspaces/{workspace_id}/chat/channels/{channel_id}:
    get:
      operationId: getChatChannel
      summary: Retrieve a Channel
      description: This endpoint retrieves a specific Channel given its ID.
      parameters:
      - name: workspace_id
        in: path
        description: The ID of the Workspace.
        required: true
        schema:
          $ref: '#/components/schemas/ChatPublicApiChatChannelsControllerGetChatChannelWorkspaceIdPath'
      - name: channel_id
        in: path
        description: The ID of the specified Channel.
        required: true
        schema:
          type: string
      - name: description_format
        in: query
        description: 'Format of the Channel description (Default: text/md).'
        required: false
        schema:
          $ref: '#/components/schemas/ChatTextFormat'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatPublicApiChatChannelsControllerGetChatChannel200Response'
        '404':
          description: Returns when the requested {channelId} was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatPublicApiErrorResponse'
        default:
          description: Generic Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatPublicApiErrorResponse'
      tags:
      - Chat
      x-is-workspace-endpoint: true
    patch:
      operationId: updateChatChannel
      summary: Update a Channel
      description: This endpoint updates a single Channel.
      parameters:
      - name: workspace_id
        in: path
        description: The ID of the Workspace.
        required: true
        schema:
          $ref: '#/components/schemas/ChatPublicApiChatChannelsControllerUpdateChatChannelWorkspaceIdPath'
      - name: channel_id
        in: path
        description: The ID of the specified Channel.
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatUpdateChatChannel'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatPublicApiChatChannelsControllerUpdateChatChannel200Response'
        '400':
          description: Invalid update request for {channelId}.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatPublicApiErrorResponse'
        '404':
          description: Returns when the requested {channelId} was not found when updating a Channel.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatPublicApiErrorResponse'
        default:
          description: Generic Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatPublicApiErrorResponse'
      tags:
      - Chat
      x-is-workspace-endpoint: true
    delete:
      operationId: deleteChatChannel
      summary: Delete a Channel
      description: This endpoint deletes a Channel. Applies to Channels tied to a Space, Folder, or List or not tied to locations.
      parameters:
      - name: workspace_id
        in: path
        description: The ID of the Workspace.
        required: true
        schema:
          $ref: '#/components/schemas/ChatPublicApiChatChannelsControllerDeleteChatChannelWorkspaceIdPath'
      - name: channel_id
        in: path
        description: The ID of the specified Channel.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: The Channel was deleted.
          content:
            application/json: {}
        '404':
          description: Returns when the requested {channelId} was not found when deleting a Channel.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatPublicApiErrorResponse'
        default:
          description: Generic Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatPublicApiErrorResponse'
      tags:
      - Chat
      x-is-workspace-endpoint: true
  /api/v3/workspaces/{workspace_id}/chat/channels/{channel_id}/followers:
    get:
      operationId: getChatChannelFollowers
      summary: Retrieve Channel followers
      description: This endpoint retrieves followers of a specific Channel given its ID.
      parameters:
      - name: workspace_id
        in: path
        description: The ID of the Workspace.
        required: true
        schema:
          $ref: '#/components/schemas/ChatPublicApiChatChannelsControllerGetChatChannelFollowersWorkspaceIdPath'
      - name: channel_id
        in: path
        description: The ID of the specified Channel.
        required: true
        schema:
          type: string
      - name: cursor
        in: query
        description: The cursor to use to fetch the next page of results.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of results to fetch for this page.
        required: false
        schema:
          $ref: '#/components/schemas/ChatPublicApiChatChannelsControllerGetChatChannelFollowersLimitQuery'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatPublicApiChatChannelsControllerGetChatChannelFollowers200Response'
        '404':
          description: Returns when the specified {channelId} was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatPublicApiErrorResponse'
        default:
          description: Generic Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatPublicApiErrorResponse'
      tags:
      - Chat
      x-is-workspace-endpoint: true
  /api/v3/workspaces/{workspace_id}/chat/channels/{channel_id}/members:
    get:
      operationId: getChatChannelMembers
      summary: Retrieve Channel members
      description: This endpoint retrieves members of a specific Channel given its ID.
      parameters:
      - name: workspace_id
        in: path
        description: The ID of the Workspace.
        required: true
        schema:
          $ref: '#/components/schemas/ChatPublicApiChatChannelsControllerGetChatChannelMembersWorkspaceIdPath'
      - name: channel_id
        in: path
        description: The ID of the specified Channel.
        required: true
        schema:
          type: string
      - name: cursor
        in: query
        description: The cursor to use to fetch the next page of results.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of results to fetch for this page.
        required: false
        schema:
          $ref: '#/components/schemas/ChatPublicApiChatChannelsControllerGetChatChannelMembersLimitQuery'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatPublicApiChatChannelsControllerGetChatChannelMembers200Response'
        default:
          description: Generic Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatPublicApiErrorResponse'
      tags:
      - Chat
      x-is-workspace-endpoint: true
  /api/v3/workspaces/{workspace_id}/chat/channels/{channel_id}/messages:
    get:
      operationId: getChatMessages
      summary: Retrieve Channel messages
      description: This endpoint retrieves messages for a specified Channel.
      parameters:
      - name: workspace_id
        in: path
        description: The ID of the Workspace.
        required: true
        schema:
          $ref: '#/components/schemas/CommentPublicApiChatMessagesControllerGetChatMessagesWorkspaceIdPath'
      - name: channel_id
        in: path
        description: The ID of the Channel where the messages live.
        required: true
        schema:
          type: string
      - name: cursor
        in: query
        description: The cursor to use to fetch the next page of results.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of results to fetch for this page.
        required: false
        schema:
          $ref: '#/components/schemas/CommentPublicApiChatMessagesControllerGetChatMessagesLimitQuery'
      - name: content_format
        in: query
        description: 'Format of the message content (Default: text/md).'
        required: false
        schema:
          $ref: '#/components/schemas/CommentPublicApiChatMessagesControllerGetChatMessagesContentFormatQuery'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentPublicApiChatMessagesControllerGetChatMessages200Response'
        '404':
          description: Returns when the specified {channelId} was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentPublicApiErrorResponse'
        default:
          description: Generic Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentPublicApiErrorResponse'
      tags:
      - Chat
      x-is-workspace-endpoint: true
    post:
      operationId: createChatMessage
      summary: Send a message
      description: This endpoint creates a top level message.
      parameters:
      - name: workspace_id
        in: path
        description: The ID of the Workspace.
        required: true
        schema:
          $ref: '#/components/schemas/CommentPublicApiChatMessagesControllerCreateChatMessageWorkspaceIdPath'
      - name: channel_id
        in: path
        description: The ID of the Channel where the messages live.
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentCreateChatMessage'
      responses:
        '201':
          description: The message is created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentCreateChatMessageResponse'
        '404':
          description: Returns when {channelId} was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentPublicApiErrorResponse'
        default:
          description: Generic Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentPublicApiErrorResponse'
      tags:
      - Chat
      x-is-workspace-endpoint: true
  /api/v3/workspaces/{workspace_id}/chat/messages/{message_id}:
    patch:
      operationId: patchChatMessage
      summary: Update a message
      description: This endpoint updates a message.
      parameters:
      - name: workspace_id
        in: path
        description: The ID of the Workspace.
        required: true
        schema:
          $ref: '#/components/schemas/CommentPublicApiChatMessagesControllerPatchChatMessageWorkspaceIdPath'
      - name: message_id
        in: path
        description: The ID of the specified message.
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentPatchChatMessage'
      responses:
        '200':
          description: The message that was updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentPatchChatMessageResponse'
        '400':
          description: Returns when the request is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentPublicApiErrorResponse'
        '404':
          description: Returns when {messageId} was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentPublicApiErrorResponse'
        default:
          description: Generic Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentPublicApiErrorResponse'
      tags:
      - Chat
      x-is-workspace-endpoint: true
    delete:
      operationId: deleteChatMessage
      summary: Delete a message
      description: This endpoint deletes a message.
      parameters:
      - name: workspace_id
        in: path
        description: The ID of the Workspace.
        required: true
        schema:
          $ref: '#/components/schemas/CommentPublicApiChatMessagesControllerDeleteChatMessageWorkspaceIdPath'
      - name: message_id
        in: path
        description: The ID of the specified message.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: The message was deleted.
          content:
            application/json: {}
        default:
          description: Generic Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentPublicApiErrorResponse'
      tags:
      - Chat
      x-is-workspace-endpoint: true
  /api/v3/workspaces/{workspace_id}/chat/messages/{message_id}/reactions:
    get:
      operationId: getChatMessageReactions
      summary: Retrieve message reactions
      description: This endpoint retrieves the reactions to a message.
      parameters:
      - name: workspace_id
        in: path
        description: The ID of the Workspace.
        required: true
        schema:
          $ref: '#/components/schemas/CommentPublicApiChatMessagesControllerGetChatMessageReactionsWorkspaceIdPath'
      - name: message_id
        in: path
        description: The ID of the specified message.
        required: true
        schema:
          type: string
      - name: cursor
        in: query
        description: The cursor to use to fetch the next page of results.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of results to fetch for this page.
        required: false
        schema:
          $ref: '#/components/schemas/CommentPublicApiChatMessagesControllerGetChatMessageReactionsLimitQuery'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentPublicApiChatMessagesControllerGetChatMessageReactions200Response'
        '404':
          description: Returns when the specified {messageId} was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentPublicApiErrorResponse'
        default:
          description: Generic Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentPublicApiErrorResponse'
      tags:
      - Chat
      x-is-workspace-endpoint: true
    post:
      operationId: createChatReaction
      summary: Create a message reaction
      description: This endpoint creates a message reaction using lower case emoji names.
      parameters:
      - name: workspace_id
        in: path
        description: The ID of the Workspace.
        required: true
        schema:
          $ref: '#/components/schemas/CommentPublicApiChatMessagesControllerCreateChatReactionWorkspaceIdPath'
      - name: message_id
        in: path
        description: The ID of the specified message.
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentCreateChatReaction'
      responses:
        '201':
          description: The message reaction is created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatReaction'
        '400':
          description: Returns when the reaction {reaction} is not supported or already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentPublicApiErrorResponse'
        '404':
          description: Returns when the message {messageId} is not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentPublicApiErrorResponse'
        default:
          description: Generic Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentPublicApiErrorResponse'
      tags:
      - Chat
      x-is-workspace-endpoint: true
  /api/v3/workspaces/{workspace_id}/chat/messages/{message_id}/reactions/{reaction}:
    delete:
      operationId: deleteChatReaction
      summary: Delete a message reaction
      description: This endpoint deletes a message reaction.
      parameters:
      - name: workspace_id
        in: path
        description: The ID of the Workspace.
        required: true
        schema:
          $ref: '#/components/schemas/CommentPublicApiChatMessagesControllerDeleteChatReactionWorkspaceIdPath'
      - name: message_id
        in: path
        description: The ID of the specified message.
        required: true
        schema:
          type: string
      - name: reaction
        in: path
        description: The name of the reaction to be deleted.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: The message reaction was deleted.
          content:
            application/json: {}
        '400':
          description: Returns when the reaction {reaction} is not supported.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentPublicApiErrorResponse'
        '404':
          description: Returns when the message {messageId} or the reaction {reaction} is not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentPublicApiErrorResponse'
        default:
          description: Generic Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentPublicApiErrorResponse'
      tags:
      - Chat
      x-is-workspace-endpoint: true
  /api/v3/workspaces/{workspace_id}/chat/messages/{message_id}/replies:
    get:
      operationId: getChatMessageReplies
      summary: Retrieve message replies
      description: This endpoint retrieves the replies to a message.
      parameters:
      - name: workspace_id
        in: path
        description: The ID of the Workspace.
        required: true
        schema:
          $ref: '#/components/schemas/CommentPublicApiChatMessagesControllerGetChatMessageRepliesWorkspaceIdPath'
      - name: message_id
        in: path
        description: The ID of the specified message.
        required: true
        schema:
          type: string
      - name: cursor
        in: query
        description: The cursor to use to fetch the next page of results.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of results to fetch for this page.
        required: false
        schema:
          $ref: '#/components/schemas/CommentPublicApiChatMessagesControllerGetChatMessageRepliesLimitQuery'
      - name: content_format
        in: query
        description: 'Format of the message content (Default: text/md).'
        required: false
        schema:
          $ref: '#/components/schemas/CommentPublicApiChatMessagesControllerGetChatMessageRepliesContentFormatQuery'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentPublicApiChatMessagesControllerGetChatMessageReplies200Response'
        '404':
          description: Returns when the specified {messageId} was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentPublicApiErrorResponse'
        default:
          description: Generic Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentPublicApiErrorResponse'
      tags:
      - Chat
      x-is-workspace-endpoint: true
    post:
      operationId: createReplyMessage
      summary: Create a reply message
      description: This endpoint creates a reply message.
      parameters:
      - name: workspace_id
        in: path
        description: The ID of the Workspace.
        required: true
        schema:
          $ref: '#/components/schemas/CommentPublicApiChatMessagesControllerCreateReplyMessageWorkspaceIdPath'
      - name: message_id
        in: path
        description: The ID of the specified message.
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentCreateChatMessage'
      responses:
        '201':
          description: The reply message is created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentCreateReplyMessageResponse'
        default:
          description: Generic Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentPublicApiErrorResponse'
      tags:
      - Chat
      x-is-workspace-endpoint: true
  /api/v3/workspaces/{workspace_id}/chat/messages/{message_id}/tagged_users:
    get:
      operationId: getChatMessageTaggedUsers
      summary: Retrieve message tagged users
      description: This endpoint retrieves tagged users for a message.
      parameters:
      - name: workspace_id
        in: path
        description: The ID of the Workspace.
        required: true
        schema:
          $ref: '#/components/schemas/CommentPublicApiChatMessagesControllerGetChatMessageTaggedUsersWorkspaceIdPath'
      - name: message_id
        in: path
        description: The ID of the specified message.
        required: true
        schema:
          type: string
      - name: cursor
        in: query
        description: The cursor to use to fetch the next page of results.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of results to fetch for this page.
        required: false
        schema:
          $ref: '#/components/schemas/CommentPublicApiChatMessagesControllerGetChatMessageTaggedUsersLimitQuery'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentPublicApiChatMessagesControllerGetChatMessageTaggedUsers200Response'
        '404':
          description: Returns when the specified {messageId} was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentPublicApiErrorResponse'
        default:
          description: Generic Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentPublicApiErrorResponse'
      tags:
      - Chat
      x-is-workspace-endpoint: true
components:
  schemas:
    CommentCreateChatReaction:
      type: object
      properties:
        reaction:
          description: The name of the emoji to use for the reaction.
          type: string
      required:
      - reaction
    CommentPublicApiChatMessagesControllerGetChatMessages200Response:
      allOf:
      - $ref: '#/components/schemas/CommentPaginatedResponse'
      - type: object
        description: The list of top level messages in the Channel, most recent first.
        properties:
          data:
            type: array
            items:
              $ref: '#/components/schemas/ChatMessage'
    CommentPublicApiChatMessagesControllerGetChatMessageTaggedUsersLimitQuery:
      type: integer
      default: 50
      maximum: 100
      minimum: 1
    ChatPublicApiChatChannelsControllerDeleteChatChannelWorkspaceIdPath:
      type: integer
    CommentPatchChatMessage:
      type: object
      properties:
        assignee:
          description: The possible assignee of the message.
          type: string
        group_assignee:
          description: The possible group assignee of the message.
          type: string
        content:
          description: The full content of the message to be created
          format: RichText
          maxLength: 40000
          type: string
        content_format:
          description: 'The format of the Chat Message content (Default: text/md)'
          type: string
          default: text/md
          enum:
          - text/md
          - text/plain
        post_data:
          description: The data of the post message.
          allOf:
          - $ref: '#/components/schemas/CommentChatPostDataPatch'
        resolved:
          description: The resolved status of the message.
          type: boolean
    CommentPublicApiErrorResponse:
      type: object
      properties:
        status:
          description: The HTTP Status code for the error
          type: integer
        message:
          description: The message describing the error
          type: string
          example: Generic error message
        trace_id:
          description: Unique trace ID for tracking the request. Used for troubleshooting errors
          type:
          - integer
          - 'null'
          example: 123456789
        timestamp:
          description: The time of the error (Unix epoch milliseconds timestamp).
          type: integer
          example: 1671534256138
      required:
      - status
      - message
      - trace_id
      - timestamp
    ChatCreateLocationChatChannel:
      type: object
      properties:
        description:
          description: The description for the Chat being created.
          type: string
        topic:
          description: The topic of the Chat being created.
          type: string
        user_ids:
          description: Optionally specify unique user IDs, up to 100.
          type: array
          items:
            type: string
          maxItems: 100
          uniqueItems: true
        visibility:
          description: The visibility of the Chat being created. If not specified, the Chat is PUBLIC.
          type: string
          enum:
          - PUBLIC
          - PRIVATE
        location:
          description: 'The location of the chat: space, folder, or list'
          allOf:
          - $ref: '#/components/schemas/ChatChannelLocation'
      required:
      - location
    ChatCreateDirectMessageChatChannel:
      type: object
      properties:
        user_ids:
          description: The unique user IDs of participants in the direct message Chat, up to 15. A Self DM is created when no user IDs are provided
          type: array
          items:
            type: string
          maxItems: 15
          uniqueItems: true
    ChatCreateChatChannel:
      type: object
      properties:
        description:
          description: The description for the Chat being created.
          type: string
        name:
          description: The name for the Chat being created.
          type: string
        topic:
          description: The topic of the Chat being created.
          type: string
        user_ids:
          description: Optionally specify unique user IDs, up to 100.
          type: array
          items:
            type: string
          maxItems: 100
          uniqueItems: true
        visibility:
          description: The visibility of the Chat being created. If not specified, the Chat is PUBLIC.
          type: string
          enum:
          - PUBLIC
          - PRIVATE
      required:
      - name
    ObjectType:
      description: Any object that can be shared in a Workspace. For example, `customField`, `dashboard`, `folder`, `goal`, `goalFolder`, `list`, `space`, `task`, and `view`.
      type: string
      enum:
      - approval
      - attachment
      - attachmentAccess
      - banWorkspace
      - checklist
      - checklistItem
      - checklistTemplateAccess
      - comment
      - commentThread
      - commentsLastReadAt
      - customField
      - customFieldAccess
      - customItem
      - customPermissionLevel
      - dashboard
      - dashboardAccess
      - doc
      - docAccess
      - folder
      - folderDescendantsSet
      - folderTemplateAccess
      - form
      - formulaValue
      - foundationalJob
      - goal
      - goalAccess
      - goalFolder
      - goalFolderAccess
      - hierarchy
      - list
      - listDescendantsPoints
      - listDescendantsSet
      - listDescendantsTimeEstimates
      - listTemplateAccess
      - notepad
      - page
      - pageAccess
      - post
      - reminder
      - reminderAccess
      - rolledUpFieldValue
      - scheduledComment
      - space
      - spaceDescendantsSet
      - spaceTemplateAccess
      - task
      - taskAccess
      - taskHistory
      - taskProperty
      - taskTemplateAccess
      - template
      - user
      - userAccess
      - userGroup
      - userHierarchy
      - userPresence
      - view
      - viewAccess
      - viewTemplateAccess
      - whiteboard
      - whiteboardAccess
      - widget
      - workscheduleScheduleExceptions
      - workscheduleWorkweekSchedule
      - workspace
      - workspaceDescendantsSet
    ChatPublicApiChatChannelsControllerGetChatChannels200Response:
      allOf:
      - $ref: '#/components/schemas/ChatPaginatedResponse'
      - type: object
        description: The list of Channels.
        properties:
          data:
            type: array
            items:
              $ref: '#/components/schemas/ChatChannel'
    ChatCommentVector:
      type: object
      properties:
        master_id:
          type: number
        version:
          type: number
        deleted:
          type: boolean
      required:
      - master_id
      - version
      - deleted
    CommentPublicApiChatMessagesControllerGetChatMessageReplies200Response:
      allOf:
      - $ref: '#/components/schemas/CommentPaginatedResponse'
      - type: object
        description: The list of replies to a message, most recent first.
        properties:
          data:
            type: array
            items:
              $ref: '#/components/schemas/ReplyMessage'
    CommentPublicApiChatMessagesControllerGetChatMessageReactions200Response:
      allOf:
      - $ref: '#/components/schemas/CommentPaginatedResponse'
      - type: object
        description: The list of message reactions.
        properties:
          data:
            type: array
            items:
              $ref: '#/components/schemas/ChatReaction'
    ChatLastReadAtData:
      type: object
      properties:
        parent_id:
          type: string
        parent_type:
          $ref: '#/components/schemas/ObjectType'
        root_parent_id:
          type: string
        root_parent_type:
          $ref: '#/components/schemas/ObjectType'
        date:
          description: When the user last read comments to this object, set in the past to mark comments as unread. Should be a timestamp in milliseconds.
          type: number
        _version_vector:
          allOf:
          - $ref: '#/components/schemas/ChatCommentVersionVector'
          deprecated: true
        version:
          description: The version of the object when the last read at object was last updated.
          type: number
        has_unread:
          description: Whether the user has unread comments on this object. (Optional)
          type: boolean
        num_unread:
          description: How many unread comments there are on this object. (Optional)
          type: number
        latest_comment_at:
          description: The date of the latest comment on this object. (Optional)
          type: number
        badge_count:
          description: The badge count for this object. (Optional)
          type: number
        thread_count:
          description: The number of unread threads on this object. (Optional)
          type: number
        mention_count:
          description: The number of mentions on this object. (Optional)
          type: number
        last_updated_at:
          description: The date of the last update to this object. (Optional)
          type: number
      required:
      - parent_id
      - parent_type
      - root_parent_id
      - root_parent_type
      - date
      - _version_vector
    CommentPublicApiChatMessagesControllerCreateChatReactionWorkspaceIdPath:
      type: integer
    ChatMessage:
      type: object
      properties:
        assignee:
          description: The possible assignee of the message.
          type: string
        assigned_by:
          description: The user who assigned the message.
          type: string
        content:
          description: The full content of the message.
          format: RichText
          type: string
        date:
          description: The date & time the message was created (Unix epoch milliseconds timestamp).
          type: number
        date_assigned:
          description: The date & time the message was assigned (Unix epoch milliseconds timestamp).
          type: number
        date_resolved:
          description: The date & time the message was resolved (Unix epoch milliseconds timestamp).
          type: number
        date_updated:
          description: The date & time the message was updated (Unix epoch milliseconds timestamp).
          type: number
        group_assignee:
          description: The possible group assignee of the message.
          type: string
        id:
          description: The ID of the message.
          type: string
        parent_channel:
          description: The ID of the chat this message belongs to.
          type: string
        parent_message:
          description: The ID of the message this message is a reply to.
          type: string
        post_data:
          description: The data of the post message.
          allOf:
          - $ref: '#/components/schemas/ChatPostData'
        resolved:
          description: The resolved status of the message.
          type: boolean
        resolved_by:
          description: The user who resolved the message.
          type: string
        triaged_action:
          description: The triaged action applied to the message.
          type: number
          enum:
          - 1
          - 2
        triaged_object_id:
          description: The message triaged action object id.
          type: string
        triaged_object_type:
          description: The message triaged action object type.
          type: number
        type:
          description: The type of message.
          type: string
          enum:
          - message
          - post
        user_id:
          description: The ID of the user who created the message.
          type: string
        links:
          description: The links to elements of the message.
          allOf:
          - $ref: '#/components/schemas/CommentChatMessageLinks2'
        replies_count:
          description: The number of replies to the message.
          type: number
      required:
      - content
      - date
      - id
      - parent_channel
      - resolved
      - type
      - user_id
      - links
      - replies_count
    CommentPublicApiChatMessagesControllerPatchChatMessageWorkspaceIdPath:
      type: integer
    ChatPublicApiChatChannelsControllerGetChatChannelsWorkspaceIdPath:
      type: integer
    CommentPaginatedResponse:
      type: object
      properties:
        next_cursor:
          description: The next cursor to use for pagination.
          type: string
      required:
      - next_cursor
    CommentCreateChatMessageResponse:
      type: object
      properties:
        post_data:
          description: The data of the post message.
          allOf:
          - $ref: '#/components/schemas/CommentChatPostDataCreate'
        assignee:
          description: The possible assignee of the message.
          type: string
        assigned_by:
          description: The user who assigned the message.
          type: string
        content:
          description: The full content of the message.
          format: RichText
          type: string
        date:
          description: The date & time the message was created (Unix epoch milliseconds timestamp).
          type: number
        date_assigned:
          description: The date & time the message was assigned (Unix epoch milliseconds timestamp).
          type: number
        date_resolved:
          description: The date & time the message was resolved (Unix epoch milliseconds timestamp).
          type: number
        date_updated:
          description: The date & time the message was updated (Unix epoch milliseconds timestamp).
          type: number
        group_assignee:
          description: The possible group assignee of the message.
          type: string
        id:
          description: The ID of the message.
          type: string
        parent_channel:
          description: The ID of the chat this message belongs to.
          type: string
        parent_message:
          description: The ID of the message this message is a reply to.
          type: string
        resolved:
          description: The resolved status of the message.
          type: boolean
        resolved_by:
          description: The user who resolved the message.
          type: string
        triaged_action:
          description: The triaged action applied to the message.
          type: number
          enum:
          - 1
          - 2
        triaged_object_id:
          description: The message triaged action object id.
          type: string
        triaged_object_type:
          description: The message triaged action object type.
          type: number
        type:
          description: The type of message.
          type: string
          enum:
          - message
          - post
        user_id:
          description: The ID of the user who created the message.
          type: string
        links:
          description: The links to elements of the message.
          allOf:
          - $ref: '#/components/schemas/CommentChatMessageLinks2'
        replies_count:
          description: The number of replies to the message.
          type: number
      required:
      - content
      - date
      - id
      - parent_channel
      - resolved
      - type
      - user_id
      - links
      - replies_count
    ChatPublicApiChatChannelsControllerGetChatChannelFollowersWorkspaceIdPath:
      type: integer
    ChatSubcategoryType:
      description: Type of channel (chat, project, etc.) aka subcategory_type
      type: number
      enum:
      - 1
      - 2
      - 3
      - 4
    CommentPublicApiChatMessagesControllerGetChatMessageReactionsLimitQuery:
      type: integer
      default: 50
      maximum: 100
      minimum: 1
    CommentPublicApiChatMessagesControllerGetChatMessageRepliesWorkspaceIdPath:
      type: integer
    ReplyMessage:
      type: object
      properties:
        assignee:
          description: The possible assignee of the message.
          type: string
        assigned_by:
          description: The user who assigned the message.
          type: string
        content:
          description: The full content of the message.
          format: RichText
          type: string
        date:
          description: The date & time the message was created (Unix epoch milliseconds timestamp).
          type: number
        date_assigned:
          description: The date & time the message was assigned (Unix epoch milliseconds timestamp).
          type: number
        date_resolved:
          description: The date & time the message was resolved (Unix epoch milliseconds timestamp).
          type: number
        date_updated:
          description: The date & time the message was updated (Unix epoch milliseconds timestamp).
          type: number
        group_assignee:
          description: The possible group assignee of the message.
          type: string
        id:
          description: The ID of the message.
          type: string
        parent_channel:
          description: The ID of the chat this message belongs to.
          type: string
        parent_message:
          description: The ID of the message this message is a reply to.
          type: string
        post_data:
          description: The data of the post message.
          allOf:
          - $ref: '#/components/schemas/ChatPostData'
        resolved:
          description: The resolved status of the message.
          type: boolean
        resolved_by:
          description: The user who resolved the message.
          type: string
        triaged_action:
          description: The triaged action applied to the message.
          type: number
          enum:
          - 1
          - 2
        triaged_object_id:
          description: The message triaged action object id.
          type: string
        triaged_object_type:
          description: The message triaged action object type.
          type: number
        type:
          description: The type of message.
          type: string
          enum:
          - message
          - post
        user_id:
          description: The ID of the user who created the message.
          type: string
        links:
          description: The links to elements of the message.
          allOf:
          - $ref: '#/components/schemas/CommentReplyMessageLinks2'
      required:
      - content
      - date
      - id
      - parent_channel
      - parent_message
      - resolved
      - type
      - user_id
      - links
    CommentPublicApiChatMessagesControllerGetChatMessagesWorkspaceIdPath:
      type: integer
    ChatRoomType:
      description: The type of the room
      type: string
      enum:
      - CHANNEL
      - DM
      - GROUP_DM
    ChatPublicApiChatChannelsControllerCreateLocationChatChannel200Response:
      description: The existing Channel that is matching the creation request.
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ChatChannel'
      required:
      - data
    ChatPublicApiChatChannelsControllerCreateLocationChatChannelWorkspaceIdPath:
      type: integer
    ChatRoomVisibility:
      description: The visibility of the room
      type: string
      enum:
      - PUBLIC
      - PRIVATE
    ChatSimpleUser:
      type: object
      properties:
        email:
          description: Email of the user.
          type: string
        id:
          description: ID of the user.
          type: string
        initials:
          description: Initials of the user.
          type: string
        name:
          description: Name of the user.
          type: string
        username:
          description: Userame of the user.
          type: string
      required:
      - email
      - id
    ChatTextFormat:
      type: string
      enum:
      - text/md
      - text/plain
    ChatPaginatedResponse:
      type: object
      properties:
        next_cursor:
          description: The next cursor to use for pagination.
          type: string
      required:
      - next_cursor
    CommentPublicApiChatMessagesControllerCreateChatMessageWorkspaceIdPath:
      type: integer
    ChatPublicApiChatChannelsControllerGetChatChannelMembersLimitQuery:
      type: integer
      default: 50
      maximum: 100
      minimum: 1
    CommentPublicApiChatMessagesControllerGetChatMessageRepliesContentFormatQuery:
      type: string
      default: text/md
      enum:
      - text/md
      - text/plain
    ChatPublicApiChatChannelsControllerGetChatChannelFollowers200Response:
      allOf:
      - $ref: '#/components/schemas/ChatPaginatedResponse'
      - type: object
        description: The list of Channel followers.
        properties:
          data:
            type: array
            items:
              $ref: '#/components/schemas/ChatSimpleUser'
    ChatPublicApiChatChannelsControllerGetChatChannelsIncludeClosedQuery:
      type: boolean
      default: false
    ChatPublicApiChatChannelsControllerUpdateChatChannel200Response:
      description: The Channel was successfully updated.
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ChatChannel'
      required:
      - data
    CommentPublicApiChatMessagesControllerGetChatMessageTaggedUsers200Response:
      allOf:
      - $ref: '#/components/schemas/CommentPaginatedResponse'
      - type: object
        description: The list of message tagged users.
        properties:
          data:
            type: array
            items:
              $ref: '#/components/schemas/CommentSimpleUser'
    CommentPublicApiChatMessagesControllerGetChatMessageTaggedUsersWorkspaceIdPath:
      type: integer
    ChatPublicApiChatChannelsControllerCreateDirectMessageChatChannel200Response:
      description: The existing Direct Message that is matching the creation request.
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ChatChannel'
      required:
      - data
    CommentChatPostSubtypeCreate:
      type: object
      properties:
        id:
          description: The subtype ID of the chat post. You can retrieve the available subtypes for your Workspace using the [Get Post Subtype IDs](https://developer.clickup.com/reference/getsubtypes) endpoint.
          type: string
      required:
      - id
    ChatPublicApiChatChannelsControllerCreateChatChannel201Response:
      description: The new Channel.
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ChatChannel'
      required:
      - data
    ChatPublicApiChatChannelsControllerCreateDirectMessageChatChannelWorkspaceIdPath:
      type: integer
    ChatPostData:
      type: object
      properties:
        subtype:
          description: The subtype of the chat post.
          allOf:
          - $ref: '#/components/schemas/ChatPostSubtype'
        title:
          description: The title of the chat post.
          type: string
          maxLength: 255
      required:
      - subtype
      - title
    ChatPostSubtype:
      type: object
      properties:
        id:
          description: The subtype ID of the chat post.
          type: string
        name:
          description: The subtype name of the chat post.
          type: string
      required:
      - id
      - name
    ChatPublicApiChatChannelsControllerGetChatChannelMembers200Response:
      allOf:
      - $ref: '#/components/schemas/ChatPaginatedResponse'
      - type: object
        description: The list of Channel members.
        properties:
          data:
            type: array
            items:
              $ref: '#/components/schemas/ChatSimpleUser'
    ChatCommentVersionVector:
      type: object
      properties:
        object_id:
          type: string
        object_type:
          type: string
        vector:
          type: array
          items:
            $ref: '#/components/schemas/ChatCommentVector'
        workspace_id:
          type: number
      required:
      - object_id
      - object_type
      - vector
      - workspace_id
    ChatReaction:
      type: object
      properties:
        date:
          description: The date & time the reaction was created (Unix epoch milliseconds timestamp).
          type: number
        reaction:
          description: The reaction to the message.
          type: string
        user_id:
          description: The ID of the user who created the reaction.
          type: string
      required:
      - date
      - reaction
      - user_id
    CommentChatPostDataPatch:
      type: object
      properties:
        subtype:
          description: The subtype of the chat post.
          allOf:
          - $ref: '#/components/schemas/CommentChatPostSubtypePatch'
        title:
          description: The title of the chat post.
          type: string
          maxLength: 255
    ChatPublicApiChatChannelsControllerGetChatChannelsWithMessageSinceQuery:
      type: number
    CommentPublicApiChatMessagesControllerCreateReplyMessageWorkspaceIdPath:
      type: integer
    ChatPublicApiChatChannelsControllerGetChatChannelMembersWorkspaceIdPath:
      type: integer
    ChatRoomParentDTO:
      type: object
      properties:
        id:
          type: string
        type:
          type: number
      required:
      - id
      - type
    ChatChannelLocation:
      type: object
      properties:
        id:
          description: The ID of the hierarchy entity where the chat is to be located
          type: string
        type:
          description: The type of the location. Must be a space, folder, or list.
          type: string
          enum:
          - folder
          - list
          - space
      required:
      - id
      - type
    ChatPublicApiErrorResponse:
      type: object
      properties:
        status:
          description: The HTTP Status code for the error
          type: integer
        message:
          description: The message describing the error
          type: string
          example: Generic error message
        trace_id:
          description: Unique trace ID for tracking the request. Used for troubleshooting errors
          type:
          - integer
          - 'null'
          example: 123456789
        timestamp:
          description: The time of the error (Unix epoch milliseconds timestamp).
          type: integer
          example: 1671534256138
      required:
      - status
      - message
      - trace_id
      - timestamp
    CommentPublicApiChatMessagesControllerGetChatMessagesContentFormatQuery:
      type: string
      default: text/md
      enum:
      - text/md
      - text/plain
    CommentChatMessageLinks2:
      type: object
      properties:
        reactions:
          description: The link to the reactions of this message.
          type: string
        replies:
          description: The link to the replies of this message.
          type: string
        tagged_users:
          description: The link to the tagged users of this message.
          type: string
      required:
      - reactions
      - replies
      - tagged_users
    ChatPublicApiChatChannelsControllerGetChatChannel200Response:
      description: The requested Channel.
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ChatChannel'
      required:
      - data
    ChatPublicApiChatChannelsControllerGetChatChannelsChannelTypesQuery: {}
    ChatPublicApiChatChannelsControllerGetChatChannelsIsFollowerQuery:
      type: boolean
      default: false
    ChatPublicApiChatChannelsControllerGetChatChannelWorkspaceIdPath:
      type: integer
    CommentPublicApiChatMessagesControllerGetChatMessageRepliesLimitQuery:
      type: integer
      default: 50
      maximum: 100
      minimum: 1
    CommentSimpleUser:
      type: object
      properties:
        email:
          description: Email of the user.
          type: string
        id:
          description: ID of the user.
          type: string
        initials:
          description: Initials of the user.
          type: string
        name:
          description: Name of the user.
          type: string
        username:
          description: Userame of the user.
          type: string
      required:
      - email
      - id
    ChatPublicApiChatChannelsControllerUpdateChatChannelWorkspaceIdPath:
      type: integer
    ChatChannelLinks:
      type: object
      properties:
        members:
          description: The link to the members of the Channel.
          type: string
        followers:
          description: The link to the followers of the Channel.
          type: string
      required:
      - members
      - followers
    ChatChannel:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          description: The full Description of the Channel.
          type: string
          format: RichText
        topic:
          type: string
        type:
          $ref: '#/components/schemas/ChatRoomType'
        visibility:
          $ref: '#/components/schemas/ChatRoomVisibility'
        parent:
          description: Parent information
          allOf:
          - $ref: '#/components/schemas/ChatRoomParentDTO'
        creator:
          description: ID of the user who created this room
          type: string
        created_at:
          description: Timestamp of when this room was created
          type: string
        updated_at:
          description: Timestamp of the last update in this room - Deprecated in favor of latest_comment_at
          type: string
          deprecated: true
        workspace_id:
          description: Workspace ID of the chat room
          type: string
        archived:
          type: boolean
        latest_comment_at:
          description: Timestamp of the last comment in this room. Optional in the case of a new room with no comments yet
          type: string
        is_canonical_channel:
          description: Is this the canonical channel for the parent location?
          type: boolean
        is_hidden:
          description: Has the user hidden this room from their sidebar? Currently only an option for DM/Group DM.
          type: boolean
        default_view:
          description: Data about the default view that the room should open in
          allOf:
          - $ref: '#/components/schemas/ChatDefaultViewDTO'
        channel_type:
          $ref: '#/components/schemas/ChatSubcategoryType'
        counts:
          description: Counts relevant to the user requesting the chat room
          allOf:
          - $ref: '#/components/schemas/ChatLastReadAtData'
        chat_room_category:
          description: The category of the chat room, e.g. a welcome channel, (in the future, maybe) a ClickBot channel, etc.
          type: string
          enum:
          - WELCOME_CHANNEL
        canvas_id:
          description: The id of the canvas owned by the chat room, if any
          type: string
        links:
          description: The links to elements of the Channel.
          allOf:
          - $ref: '#/components/schemas/ChatChannelLinks'
      required:
      - id
      - name
      - type
      - visibility
      - parent
      - creator
      - created_at
      - updated_at
      - workspace_id
      - archived
      - links
    CommentPublicApiChatMessagesControllerDeleteChatMessageWorkspaceIdPath:
      type: integer
    ChatPublicApiChatChannelsControllerCreateChatChannel200Response:
      description: The existing Channel that is matching the creation request.
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ChatChannel'
      required:
      - data
    ChatPublicApiChatChannelsControllerCreateLocationChatChannel201Response:
      description: The new Channel.
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ChatChannel'
      required:
      - data
    ChatPublicApiChatChannelsControllerGetChatChannelFollowersLimitQuery:
      type: integer
      default: 50
      maximum: 100
      minimum: 1
    CommentPublicApiChatMessagesControllerGetChatMessagesLimitQuery:
      type: integer
      default: 50
      maximum: 100
      minimum: 1
    ChatPublicApiChatChannelsControllerGetChatChannelsLimitQuery:
      type: integer
      default: 50
      maximum: 100
      minimum: 1
    CommentReplyMessageLinks2:
      type: object
      properties:
        reactions:
          description: The link to the reactions of this message.
          type: string
        tagged_users:
          description: The link to the tagged users of this message.
          type: string
      required:
      - reactions
      - tagged_users
    ChatPublicApiChatChannelsControllerCreateDirectMessageChatChannel201Response:
      description: The new Direct Message.
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ChatChannel'
      required:
      - data
    ChatDefaultViewDTO:
      type: object
      properties:
        type:
          type: number
        view_id:
          type: string
        standard:
          type: boolean
      required:
      - type
      - view_id
      - standard
    CommentCreateChatMessage:
      type: object
      properties:
        assignee:
          description: The possible assignee of the message.
          type: string
        group_assignee:
          description: The possible group assignee of the message.
          type: string
        triaged_action:
          description: The triaged action applied to the message.
          type: number
          enum:
          - 1
          - 2
        triaged_object_id:
          description: The message triaged action object id.
          type: string
        triaged_object_type:
          description: The message triaged action object type.
          type: number
        type:
          description: The type of message.
          type: string
          enum:
          - message
          - post
        content:
          description: 'The full content of the message to be created. Note: Some code examples may display additional backslashes.'
          format: RichText
          maxLength: 40000
          type: string
        reactions:
          description: The reactions to the message that exist at creation time
          type: array
          items:
            $ref: '#/components/schemas/ChatReaction'
          maxItems: 10
        followers:
          description: The ids of the followers of the message
          type: array
          items:
            type: string
          maxItems: 10
        content_format:
          description: 'The format of the Chat Message content (Default: text/md)'
          type: string
          default: text/md
          enum:
          - text/md
          - text/plain
        post_data:
          description: The data of the post message.
          allOf:
          - $ref: '#/components/schemas/CommentChatPostDataCreate'
      required:
      - type
      - content
    CommentCreateReplyMessageResponse:
      type: object
      properties:
        post_data:
          description: The data of the post message.
          allOf:
          - $ref: '#/components/schemas/CommentChatPostDataCreate'
        assignee:
          description: The possible assignee of the message.
          type: string
        assigned_by:
          description: The user who assigned the message.
          type: string
        content:
          description: The full content of the message.
          format: RichText
          type: string
        date:
          description: The date & time the message was created (Unix epoch milliseconds timestamp).
          type: number
        date_assigned:
          description: The date & time the message was assigned (Unix epoch milliseconds timestamp).
          type: number
        date_resolved:
          description: The date & time the message was resolved (Unix epoch milliseconds timestamp).
          type: number
        date_updated:
          description: The date & time the message was updated (Unix epoch milliseconds timestamp).
          type: number
        group_assignee:
          description: The possible group assignee of the message.
          type: string
        id:
          description: The ID of the message.
          type: string
        parent_channel:
          description: The ID of the chat this message belongs to.
          type: string
        parent_message:
          description: The ID of the message this message is a reply to.
          type: string
        resolved:
          description: The resolved status of the message.
          type: boolean
        resolved_by:
          description: The user who resolved the message.
          type: string
        triaged_action:
          description: The triaged action applied to the message.
          type: number
          enum:
          - 1
          - 2
        triaged_object_id:
          description: The message triaged action object id.
          type: string
        triaged_object_type:
          description: The message triaged action object type.
          type: number
        type:
          description: The type of message.
          type: string
          enum:
          - message
          - post
        user_id:
          description: The ID of the user who created the message.
          type: string
        links:
          description: The links to elements of the message.
          allOf:
          - $ref: '#/components/schemas/CommentReplyMessageLinks2'
      required:
      - content
      - date
      - id
      - parent_channel
      - parent_message
      - resolved
      - type
      - user_id
      - links
    ChatPublicApiChatChannelsControllerCreateChatChannelWorkspaceIdPath:
      type: integer
    CommentPublicApiChatMessagesControllerGetChatMessageReactionsWorkspaceIdPath:
      type: integer
    CommentChatPostDataCreate:
      type: object
      properties:
        title:
          description: The title of the chat post.
          type: string
          maxLength: 255
        subtype:
          description: The subtype of the chat post.
          allOf:
          - $ref: '#/components/schemas/CommentChatPostSubtypeCreate'
      required:
      - title
      - subtype
    CommentPublicApiChatMessagesControllerDeleteChatReactionWorkspaceIdPath:
      type: integer
    CommentPatchChatMessageResponse:
      type: object
      properties:
        post_data:
          description: The data of the post message.
          allOf:
          - $ref: '#/components/schemas/CommentChatPostDataCreate'
        assignee:
          description: The possible assignee of the message.
          type: string
        assigned_by:
          description: The user who assigned the message.
          type: string
        content:
          description: The full content of the message.
          format: RichText
          type: string
        date:
          description: The date & time the message was created (Unix epoch milliseconds timestamp).
          type: number
        date_assigned:
          description: The date & time the message was assigned (Unix epoch milliseconds timestamp).
          type: number
        date_resolved:
          description: The date & time the message was resolved (Unix epoch milliseconds timestamp).
          type: number
        date_updated:
          description: The date & time the message was updated (Unix epoch milliseconds timestamp).
          type: number
        group_assignee:
          description: The possible group assignee of the message.
          type: string
        id:
          description: The ID of the message.
          type: string
        parent_channel:
          description: The ID of the chat this message belongs to.
          type: string
        parent_message:
          description: The ID of the message this message is a reply to.
          type: string
        resolved:
          description: The resolved status of the message.
          type: boolean
        resolved_by:
          description: The user who resolved the message.
          type: string
        triaged_action:
          description: The triaged action applied to the message.
          type: number
          enum:
          - 1
          - 2
        triaged_object_id:
          description: The message triaged action object id.
          type: string
        triaged_object_type:
          description: The message triaged action object type.
          type: number
        type:
          description: The type of message.
          type: string
          enum:
          - message
          - post
        user_id:
          description: The ID of the user who created the message.
          type: string
        replies_count:
          description: The number of replies to the message.
          type: number
        links:
          description: The links to elements of the message.
          oneOf:
          - type: object
            required:
            - replies
            - tagged_users
            - reactions
            properties:
              reactions:
                description: The link to the reactions of this message.
                type: string
              replies:
                description: The link to the replies of this message.
                type: string
              tagged_users:
                description: The link to the tagged users of this message.
                type: string
          - type: object
            required:
            - tagged_users
            - reactions
            properties:
              reactions:
                description: The link to the reactions of this message.
                type: string
              tagged_users:
                description: The link to the tagged users of this message.
                type: string
      required:
      - content
      - date
      - id
      - parent_channel
      - resolved
      - type
      - user_id
      - replies_count
      - links
    CommentChatPostSubtypePatch:
      type: object
      properties:
        id:
          description: The subtype ID of the chat post.
          type: string
      required:
      - id
    ChatUpdateChatChannel:
      type: object
      properties:
        content_format:
          description: 'The format of content field values (Default: text/md)'
          type: string
          default: text/md
          enum:
          - text/md
          - text/plain
        description:
          description: The updated description of the Chat.
          type: string
        location:
          description: 'The updated location of the chat: space, folder, or list'
          allOf:
          - $ref: '#/components/schemas/ChatChannelLocation'
        name:
          description: The updated name of the Chat.
          type: string
        topic:
          description: The updated topic of the Chat.
          type: string
        visibility:
          description: The updated visibility of the Chat.
          type: string
          enum:
          - PUBLIC
          - PRIVATE
  securitySchemes:
    authHeader:
      in: header
      type: apiKey
      name: Authorization
