openapi: 3.2.0
info:
  title: Clickup Custom Fields API
  version: '2.0'
  description: 'Operations tagged Custom Fields across 2 of this provider''s published API definitions: clickup-api-v2-reference-openapi.json, clickup-custom-fields-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.clickup.com/api
  description: ClickUp
  variables: {}
- url: https://api.clickup.com/api/v2
  description: ClickUp API v2 Production Server
tags:
- name: Custom Fields
paths:
  /v2/list/{list_id}/field:
    parameters: []
    get:
      summary: Get List Custom Fields
      tags:
      - Custom Fields
      description: 'View the Custom Fields you have access to in a specific List.\

        \

        Custom Fields scoped to specific custom task types include an `applied_objects` array on each field object. Each entry has `object_type` (`19` for custom task type) and `object_id` (the custom task type ID, matching `custom_item_id` on tasks). Use Get Custom Task Types to resolve IDs to names. Fields without task-type scoping omit `applied_objects`. Workspace-scoped Custom Fields are included when querying a List.'
      operationId: GetAccessibleCustomFields
      parameters:
      - name: list_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: number
          contentEncoding: double
          examples:
          - 123
      - name: include_applied_objects
        in: query
        description: When `true`, includes `applied_objects` on task-type-scoped Custom Fields in the response.
        style: form
        explode: true
        schema:
          type: boolean
          default: false
          examples:
          - true
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          const: application/json
          type: string
          examples:
          - application/json
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                title: GetAccessibleCustomFieldsresponse
                required:
                - fields
                type: object
                properties:
                  fields:
                    type: array
                    items:
                      title: Field
                      required:
                      - id
                      - name
                      - type
                      - type_config
                      - date_created
                      - hide_from_guests
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        type:
                          type: string
                        type_config:
                          title: TypeConfig
                          type: object
                          properties:
                            options:
                              type: array
                              items:
                                title: Option
                                required:
                                - id
                                - color
                                type: object
                                properties:
                                  id:
                                    type: string
                                  label:
                                    type: string
                                  color:
                                    type:
                                    - string
                                    - 'null'
                                  name:
                                    type: string
                                  value:
                                    type: integer
                                    contentEncoding: int32
                                  type:
                                    type: string
                                  orderindex:
                                    type: integer
                                    contentEncoding: int32
                                examples:
                                - id: fb332c98-d7bc-4ee8-a3bd-b5ffaff98c3c
                                  label: one
                                  color: null
                              description: ''
                            default:
                              oneOf:
                              - type:
                                - string
                                - 'null'
                              - type: integer
                                contentEncoding: int32
                              - {}
                            precision:
                              type: integer
                              contentEncoding: int32
                            currency_type:
                              type: string
                            placeholder:
                              type:
                              - string
                              - 'null'
                            end:
                              type: integer
                              contentEncoding: int32
                            start:
                              type: integer
                              contentEncoding: int32
                            count:
                              type: integer
                              contentEncoding: int32
                            code_point:
                              type: string
                            tracking:
                              title: Tracking
                              required:
                              - subtasks
                              - checklists
                              - assigned_comments
                              type: object
                              properties:
                                subtasks:
                                  type: boolean
                                checklists:
                                  type: boolean
                                assigned_comments:
                                  type: boolean
                              examples:
                              - subtasks: true
                                checklists: true
                                assigned_comments: true
                            complete_on:
                              type: integer
                              contentEncoding: int32
                          examples:
                          - {}
                        date_created:
                          type: string
                        hide_from_guests:
                          type: boolean
                        applied_objects:
                          type: array
                          items:
                            title: AppliedObject
                            required:
                            - object_type
                            - object_id
                            type: object
                            properties:
                              object_type:
                                type: integer
                                description: Entity type. Use `19` for custom task type.
                                examples:
                                - 19
                              object_id:
                                type: integer
                                description: Custom task type ID. Matches `custom_item_id` on tasks. Use [Get Custom Task Types](ref:getcustomitems) to resolve IDs to names.
                                examples:
                                - 1001
                          description: Present only when the Custom Field is scoped to specific custom task types. Lists which task types the field applies to. Omitted for workspace-wide or location-scoped fields.
                      examples:
                      - id: 03efda77-c7a0-42d3-8afd-fd546353c2f5
                        name: Text Field
                        type: text
                        type_config: {}
                        date_created: '1566400407303'
                        hide_from_guests: false
                      - id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                        name: Bug Severity
                        type: drop_down
                        type_config:
                          options:
                          - id: opt-1
                            name: Low
                          - id: opt-2
                            name: High
                        date_created: '1566400407303'
                        hide_from_guests: false
                        applied_objects:
                        - object_type: 19
                          object_id: 1001
                    description: ''
      deprecated: false
      security:
      - Authorization_Token: []
    servers:
    - url: https://api.clickup.com/api
      description: ClickUp
      variables: {}
  /v2/folder/{folder_id}/field:
    parameters: []
    get:
      summary: Get Folder Custom Fields
      tags:
      - Custom Fields
      description: 'View the Custom Fields you have access to in a Folder. Get Folder Custom Fields only returns Custom Fields created at the Folder level. Custom Fields created at the List level are not included.\

        \

        Custom Fields scoped to specific custom task types include an `applied_objects` array on each field object. Each entry has `object_type` (`19` for custom task type) and `object_id` (the custom task type ID, matching `custom_item_id` on tasks). Use Get Custom Task Types to resolve IDs to names. Fields without task-type scoping omit `applied_objects`. Workspace-scoped Custom Fields are included when querying a Folder.'
      operationId: getFolderAvailableFields
      parameters:
      - name: folder_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: number
          contentEncoding: double
          examples:
          - 123
      - name: include_applied_objects
        in: query
        description: When `true`, includes `applied_objects` on task-type-scoped Custom Fields in the response.
        style: form
        explode: true
        schema:
          type: boolean
          default: false
          examples:
          - true
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          const: application/json
          type: string
          examples:
          - application/json
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                title: GetFolderAvailableFieldsresponse
                required:
                - fields
                type: object
                properties:
                  fields:
                    type: array
                    items:
                      $ref: '#/paths/~1v2~1list~1{list_id}~1field/get/responses/200/content/application~1json/schema/properties/fields/items'
                    description: ''
      deprecated: false
      security:
      - Authorization_Token: []
    servers:
    - url: https://api.clickup.com/api
      description: ClickUp
      variables: {}
  /v2/space/{space_id}/field:
    parameters: []
    get:
      summary: Get Space Custom Fields
      tags:
      - Custom Fields
      description: 'View the Custom Fields you have access to in a specific Space. Get Space Custom Fields only returns Custom Fields created at the Space level. Custom Fields created at the Folder and List level are not included.\

        \

        Custom Fields scoped to specific custom task types include an `applied_objects` array on each field object. Each entry has `object_type` (`19` for custom task type) and `object_id` (the custom task type ID, matching `custom_item_id` on tasks). Use Get Custom Task Types to resolve IDs to names. Fields without task-type scoping omit `applied_objects`. Workspace-scoped Custom Fields are included when querying a Space.'
      operationId: getSpaceAvailableFields
      parameters:
      - name: space_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: number
          contentEncoding: double
          examples:
          - 123
      - name: include_applied_objects
        in: query
        description: When `true`, includes `applied_objects` on task-type-scoped Custom Fields in the response.
        style: form
        explode: true
        schema:
          type: boolean
          default: false
          examples:
          - true
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          const: application/json
          type: string
          examples:
          - application/json
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                title: GetSpaceAvailableFieldsresponse
                required:
                - fields
                type: object
                properties:
                  fields:
                    type: array
                    items:
                      $ref: '#/paths/~1v2~1list~1{list_id}~1field/get/responses/200/content/application~1json/schema/properties/fields/items'
                    description: ''
      deprecated: false
      security:
      - Authorization_Token: []
    servers:
    - url: https://api.clickup.com/api
      description: ClickUp
      variables: {}
  /v2/team/{team_id}/field:
    parameters: []
    get:
      summary: Get Workspace Custom Fields
      tags:
      - Custom Fields
      description: 'View the Custom Fields you have access to in a specific Workspace. Get Workspace Custom Fields only returns Custom Fields created at the Workspace level. Custom Fields created at the Space, Folder, and List level are not included.\

        \

        Custom Fields scoped to specific custom task types include an `applied_objects` array on each field object. Each entry has `object_type` (`19` for custom task type) and `object_id` (the custom task type ID, matching `custom_item_id` on tasks). Use Get Custom Task Types to resolve IDs to names. Fields without task-type scoping omit `applied_objects`.'
      operationId: getTeamAvailableFields
      parameters:
      - name: team_id
        in: path
        description: Workspace ID
        required: true
        style: simple
        schema:
          type: number
          contentEncoding: double
          examples:
          - 123
      - name: include_applied_objects
        in: query
        description: When `true`, includes `applied_objects` on task-type-scoped Custom Fields in the response.
        style: form
        explode: true
        schema:
          type: boolean
          default: false
          examples:
          - true
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          const: application/json
          type: string
          examples:
          - application/json
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                title: GetTeamAvailableFieldsresponse
                required:
                - fields
                type: object
                properties:
                  fields:
                    type: array
                    items:
                      $ref: '#/paths/~1v2~1list~1{list_id}~1field/get/responses/200/content/application~1json/schema/properties/fields/items'
                    description: ''
      deprecated: false
      security:
      - Authorization_Token: []
    servers:
    - url: https://api.clickup.com/api
      description: ClickUp
      variables: {}
  /v2/task/{task_id}/field/{field_id}:
    parameters: []
    post:
      summary: Set Custom Field Value
      description: 'Add data to a Custom field on a task. \

        \

        You''ll need to know the `task_id` of the task you want to update, and the universal unique identifier (UUID) `field_id` of the Custom Field you want to set. \

        \

        The Custom Field must be applicable to the task''s current `custom_item_id`. Use Get Custom Fields (check each field''s `applied_objects`) or Get Task to find applicable `field_id` values.\

        \

        Returns `400` if the field is not enabled for the task''s custom task type.'
      tags:
      - Custom Fields
      operationId: SetCustomFieldValue
      parameters:
      - name: task_id
        in: path
        description: Enter the task ID of the task you want to update.
        required: true
        style: simple
        schema:
          type: string
          examples:
          - 9hv
      - name: field_id
        in: path
        description: Enter the universal unique identifier (UUID) of the Custom Field you want to set.
        required: true
        style: simple
        schema:
          type: string
          examples:
          - b955c4dc
      - name: custom_task_ids
        in: query
        description: If you want to reference a task by its Custom Task ID, this value must be `true`.
        style: form
        explode: true
        schema:
          type: boolean
          examples:
          - true
      - name: team_id
        in: query
        description: "When the `custom_task_ids` parameter is set to `true`, the Workspace ID must be provided using the `team_id` parameter.\n\n \\\nFor example: `custom_task_ids=true&team_id=123`."
        style: form
        explode: true
        schema:
          type: number
          contentEncoding: double
          examples:
          - 123
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              title: SetCustomFieldValuerequest
              anyOf:
              - type: object
                title: URL Custom Field
                description: The `value` must be a string with a valid URL.
                required:
                - value
                properties:
                  value:
                    type: string
                    example: https://clickup.com/api
              - type: object
                title: Dropdown Custom Field
                description: Enter the universal unique identifier (UUID) of the dropdown menu option you want to set. You can find the UUIDs available for each Dropdown Custom Field using [Get Accessible Custom Fields.](ref:getaccessiblecustomfields) New Dropdown Custom Field options cannot be created from this request.
                required:
                - value
                properties:
                  value:
                    type: string
                    example: uuid1234
              - type: object
                title: Email Custom Field
                description: The `value` must be a string with a valid email address.
                required:
                - value
                properties:
                  value:
                    type: string
                    example: user@company.com
              - type: object
                title: Phone Custom Field
                description: The `value` must be a string with a valid country code.
                required:
                - value
                properties:
                  value:
                    type: string
                    example: +1 123 456 7890
              - type: object
                title: Date Custom Field
                description: 'The `value` must be Unix time in milliseconds. To display the time in a Date Custom Field in ClickUp, you must include `time: true` in the `value_options` property.'
                properties:
                  value:
                    type: integer
                    format: int64
                    example: 1667367645000
                  value_options:
                    type: object
                    required:
                    - time
                    properties:
                      time:
                        type: boolean
                        example: true
              - type: object
                title: Short or Long Text Custom Field
                description: Enter a string of text.
                required:
                - value
                properties:
                  value:
                    type: string
                    example: This is short or long text in a Custom Field.
              - type: object
                title: Number Custom Field
                description: Enter a number.
                required:
                - value
                properties:
                  value:
                    type: number
                    example: -28
              - type: object
                title: Money Custom Field
                description: You can set an amount, but not the currency of a Money Custom Field via the API. You can check the currency of a Money Custom Field using [Get Accessible Custom Fields.](ref:getaccessiblecustomfields)
                required:
                - value
                properties:
                  value:
                    type: number
                    example: 8000
              - type: object
                title: Task Relationship Custom Field
                description: Enter an array of task ids in the `add` property to add them to a Task Relationship Custom Field. Enter them into the `rem` property to remove tasks from the Relationship.
                required:
                - value
                properties:
                  value:
                    type: object
                    properties:
                      add:
                        type: array
                        items:
                          type: string
                      rem:
                        type: array
                        items:
                          type: string
              - type: object
                title: People Custom Field
                description: Enter an array of user ids or a Team id in the `add` property to add them to a People Custom Field. Enter them into the `rem` property to remove users from a People Custom Field. You can get a list of people in the Workspace using [Get Authorized Teams (Workspaces).](ref:getauthorizedteams)
                required:
                - value
                properties:
                  value:
                    type: object
                    properties:
                      add:
                        type: array
                        items:
                          type: number
                      rem:
                        type: array
                        items:
                          type: number
              - type: object
                title: Files Custom Field
                description: Enter the ID of an attachment uploaded to a `custom_fields` entity using our [V3 Create Attachment](ref:postEntityAttachment) endpoint.
                required:
                - value
                properties:
                  value:
                    type: object
                    properties:
                      add:
                        type: array
                        items:
                          type: string
                      rem:
                        type: array
                        items:
                          type: string
              - type: object
                title: Emoji (Rating) Custom Field
                description: Enter an integer that is greater than or equal to zero and where the `count` property is greater than or equal to the `value`. You can find the `count` property for each Emoji (Rating) Custom Field using [Get Accessible Custom Fields.](ref:getaccessiblecustomfields)
                required:
                - value
                properties:
                  value:
                    type: integer
                    format: int32
                    example: 4
              - type: object
                title: Manual Progress Custom Field
                description: 'Enter a number between the `start` and `end` values of each Manual Progress Custom Field. For example, for a field with `start: 10` and `end: 30`, sending `current: 20` will be displayed as 50% complete in ClickUp. You can find the `start` and `end` values for each Manual Progress Custom Field using [Get Accessible Custom Fields.](ref:getaccessiblecustomfields)'
                required:
                - value
                properties:
                  value:
                    type: object
                    required:
                    - current
                    properties:
                      current:
                        type: number
                        example: 20
              - type: object
                title: Label Custom Field
                description: Enter an array of the universal unique identifiers (UUIDs) of the labels you want to apply. You can find the UUIDs available for each Label Custom Field using [Get Accessible Custom Fields.](ref:getaccessiblecustomfields)
                required:
                - value
                properties:
                  value:
                    type: array
                    items:
                      type: string
                      example:
                      - uuid1234
                      - uuid9876
              - type: object
                title: Location Custom Field
                description: Include the latitude, longitude, and formatted address as defined in the [Google Maps Geocoding API.](https://developers.google.com/maps/documentation/geocoding/overview)
                required:
                - value
                properties:
                  value:
                    type: object
                    properties:
                      location:
                        type: object
                        properties:
                          lat:
                            type: number
                          lng:
                            type: number
                      formatted_address:
                        type: string
              - type: object
                title: Button Custom Field
                description: Set a button Custom Field to `true` to "click" it. This will trigger the button's action as if it was clicked in the UI.
                required:
                - value
                properties:
                  value:
                    type: boolean
                    example: true
            examples:
              URL Custom Field:
                value:
                  value: https://clickup.com/api
              Dropdown Custom Field:
                value:
                  value: uuid1234
              Email Custom Field:
                value:
                  value: user@company.com
              Phone Custom Field:
                value:
                  value: +1 201 555 0123
              Date Custom Field:
                value:
                  value: 1667367645000
                  value_options:
                    time: true
              Short or Long Text Custom Field:
                value:
                  value: This is short or long text in a Custom Field.
              Number Custom Field:
                value:
                  value: -28
              Money Custom Field:
                value:
                  value: 8000
              Task Relationship Custom Field:
                value:
                  value:
                    add:
                    - abcd1234
                    - efghi5678
                    rem:
                    - jklm9876
                    - yuiop5678
              People Custom Field:
                value:
                  value:
                    add:
                    - 123
                    - 456
                    rem:
                    - 987
                    - 765
              Emoji (Rating) Custom Field:
                value:
                  value: 4
              Manual Progress Custom Field:
                value:
                  value:
                    current: 20
              Label Custom Field:
                value:
                  value:
                  - uuid1234
                  - uuid9876
              Location Custom Field:
                value:
                  value:
                    location:
                      lat: -28.016667
                      lng: 153.4
                    formatted_address: Gold Coast QLD, Australia
              Button Custom Field:
                value:
                  value: true
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                type: object
                examples:
                - {}
                contentMediaType: application/json
              example: {}
        '400':
          description: Returned when the Custom Field is not applicable to the task's custom task type.
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  err:
                    type: string
                  ECODE:
                    type: string
                  message:
                    type: string
      deprecated: false
      security:
      - Authorization_Token: []
    delete:
      summary: Remove Custom Field Value
      tags:
      - Custom Fields
      description: Remove the data from a Custom Field on a task. This does not delete the option from the Custom Field.
      operationId: RemoveCustomFieldValue
      parameters:
      - name: task_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
          examples:
          - 9hv
      - name: field_id
        in: path
        description: b8a8-48d8-a0c6-b4200788a683 (uuid)
        required: true
        style: simple
        schema:
          type: string
          examples:
          - b955c4dc
      - name: custom_task_ids
        in: query
        description: If you want to reference a task by it's custom task id, this value must be `true`.
        style: form
        explode: true
        schema:
          type: boolean
          examples:
          - true
      - name: team_id
        in: query
        description: "When the `custom_task_ids` parameter is set to `true`, the Workspace ID must be provided using the `team_id` parameter.\n \\\nFor example: `custom_task_ids=true&team_id=123`."
        style: form
        explode: true
        schema:
          type: number
          contentEncoding: double
          examples:
          - 123
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                type: object
                examples:
                - {}
                contentMediaType: application/json
              example: {}
      deprecated: false
      security:
      - Authorization_Token: []
    servers:
    - url: https://api.clickup.com/api
      description: ClickUp
      variables: {}
  /list/{list_id}/field:
    get:
      operationId: getAccessibleCustomFields
      summary: Get accessible custom fields
      description: Retrieves all custom fields that are accessible on a specific list. Returns field definitions including type, name, configuration, and possible values for dropdown and label fields.
      tags:
      - Custom Fields
      parameters:
      - $ref: '#/components/parameters/listId'
      responses:
        '200':
          description: Successfully retrieved custom fields
          content:
            application/json:
              schema:
                type: object
                properties:
                  fields:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustomFieldDefinition'
        '401':
          description: Unauthorized
        '404':
          description: List not found
      security:
      - bearerAuth: []
    servers:
    - url: https://api.clickup.com/api/v2
      description: ClickUp API v2 Production Server
  /task/{task_id}/field/{field_id}:
    post:
      operationId: setCustomFieldValue
      summary: Set custom field value
      description: Sets the value of a custom field on a task. The value format depends on the custom field type. For dropdown fields, provide the option order index. For label fields, provide an array of label IDs. For relationship fields, provide an array of task IDs.
      tags:
      - Custom Fields
      parameters:
      - $ref: '#/components/parameters/taskId'
      - $ref: '#/components/parameters/fieldId'
      - name: custom_task_ids
        in: query
        description: If you want to reference a task by its custom task ID, this value must be true.
        schema:
          type: boolean
      - name: team_id
        in: query
        description: Required when custom_task_ids is set to true. The Workspace ID.
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  description: The value to set for the custom field. The type depends on the field type. Strings for text, numbers for numeric, arrays for labels and relationships, integers for dropdowns.
              required:
              - value
      responses:
        '200':
          description: Custom field value set successfully
        '400':
          description: Bad request - invalid value for field type
        '401':
          description: Unauthorized
        '404':
          description: Task or field not found
      security:
      - bearerAuth: []
    delete:
      operationId: removeCustomFieldValue
      summary: Remove custom field value
      description: Removes the value of a custom field from a task, resetting it to empty.
      tags:
      - Custom Fields
      parameters:
      - $ref: '#/components/parameters/taskId'
      - $ref: '#/components/parameters/fieldId'
      - name: custom_task_ids
        in: query
        description: If you want to reference a task by its custom task ID, this value must be true.
        schema:
          type: boolean
      - name: team_id
        in: query
        description: Required when custom_task_ids is set to true. The Workspace ID.
        schema:
          type: integer
      responses:
        '200':
          description: Custom field value removed successfully
        '401':
          description: Unauthorized
        '404':
          description: Task or field not found
      security:
      - bearerAuth: []
    servers:
    - url: https://api.clickup.com/api/v2
      description: ClickUp API v2 Production Server
components:
  parameters:
    fieldId:
      name: field_id
      in: path
      required: true
      description: The unique identifier of the custom field.
      schema:
        type: string
    listId:
      name: list_id
      in: path
      required: true
      description: The unique identifier of the list.
      schema:
        type: integer
    taskId:
      name: task_id
      in: path
      required: true
      description: The unique identifier of the task.
      schema:
        type: string
  schemas:
    CustomFieldDefinition:
      type: object
      description: A custom field definition with its configuration and type information.
      properties:
        id:
          type: string
          description: The unique identifier of the custom field.
        name:
          type: string
          description: The name of the custom field.
        type:
          type: string
          enum:
          - url
          - drop_down
          - email
          - phone
          - date
          - text
          - checkbox
          - number
          - currency
          - tasks
          - users
          - emoji
          - label
          - automatic_progress
          - manual_progress
          - short_text
          - location
          description: The type of the custom field.
        type_config:
          type: object
          description: Configuration specific to the field type. Contains options for dropdown and label fields, currency settings, etc.
          properties:
            default:
              type: integer
              description: Default option index for dropdown fields.
            placeholder:
              type: string
              nullable: true
              description: Placeholder text for text fields.
            new_drop_down:
              type: boolean
              description: Whether this is a new-style dropdown.
            options:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                    description: The option ID.
                  name:
                    type: string
                    description: The option display name.
                  value:
                    type: string
                    nullable: true
                    description: The option value.
                  type:
                    type: string
                    nullable: true
                    description: The option type.
                  color:
                    type: string
                    nullable: true
                    description: The hex color code of the option.
                  orderindex:
                    type: integer
                    description: The order index of the option.
                  label:
                    type: string
                    nullable: true
                    description: The label text for the option.
              description: Available options for dropdown and label fields.
            include_guests:
              type: boolean
              description: Whether to include guests for user fields.
            include_team_members:
              type: boolean
              description: Whether to include team members for user fields.
            precision:
              type: integer
              description: Decimal precision for number and currency fields.
            currency_type:
              type: string
              description: Currency type code for currency fields (e.g., USD, EUR).
        date_created:
          type: string
          description: Unix timestamp when the field was created.
        hide_from_guests:
          type: boolean
          description: Whether the field is hidden from guests.
        required:
          type: boolean
          description: Whether the field is required on tasks.
  securitySchemes:
    Authorization_Token:
      name: Authorization
      type: apiKey
      in: header
      description: 'API token required for authentication. Two types of tokens are supported:

        **Personal API Key** Obtain from ClickUp''s settings page under ''Apps'' and add it to the header as `Authorization: pk_...`

        **OAuth2 Access Token** Generated through the OAuth2 flow and add it to the header as `Authorization: Bearer {access_token}`'
    bearerAuth:
      type: http
      scheme: bearer
      description: ClickUp personal API token or OAuth access token.
externalDocs:
  description: ClickUp Custom Fields API Documentation
  url: https://developer.clickup.com/reference/get-accessible-custom-fields
x-refined-from:
- clickup-api-v2-reference-openapi.json
- clickup-custom-fields-openapi.yml
