openapi: 3.2.0
info:
  title: ClickUp API v2 Reference Guests API
  description: The ClickUp API enables you to programmatically access and manage your ClickUp resources.
  contact: {}
  version: '2.0'
servers:
- url: https://api.clickup.com/api
  description: ClickUp
  variables: {}
security:
- Authorization_Token: []
tags:
- name: Guests
paths:
  /v2/team/{team_id}/guest:
    parameters: []
    post:
      summary: Invite Guest To Workspace
      tags:
      - Guests
      description: 'Invite a guest to join a Workspace. To invite a member to your Workspace, use the Invite User to Workspace endpoint. \

        \

        You''ll also need to grant the guest access to specific items using the following endpoints: Add Guest to Folder, Add Guest to List, or Add Guest to Task. \

        \

        ***Note:** This endpoint is only available to Workspaces on our Enterprise Plan.*'
      operationId: InviteGuestToWorkspace
      parameters:
      - name: team_id
        in: path
        description: Workspace ID
        required: true
        style: simple
        schema:
          type: number
          contentEncoding: double
          examples:
          - 123
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              title: InviteGuestToWorkspacerequest
              required:
              - email
              type: object
              properties:
                email:
                  type: string
                can_edit_tags:
                  type: boolean
                can_see_time_spent:
                  type: boolean
                can_see_time_estimated:
                  type: boolean
                can_create_views:
                  type: boolean
                can_see_points_estimated:
                  type: boolean
                custom_role_id:
                  type: integer
                  contentEncoding: int32
              examples:
              - email: guest@example.com
                can_edit_tags: true
                can_see_time_spent: true
                can_see_time_estimated: true
                can_create_views: true
                can_see_points_estimated: true
                custom_role_id: 12345
            example:
              email: guest@example.com
              can_edit_tags: true
              can_see_time_spent: true
              can_see_time_estimated: true
              can_create_views: true
              custom_role_id: 12345
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                title: InviteGuestToWorkspaceresponse
                required:
                - team
                type: object
                properties:
                  team:
                    title: Team1
                    required:
                    - id
                    - name
                    - color
                    - avatar
                    - members
                    - roles
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      color:
                        type: string
                      avatar:
                        type:
                        - string
                        - 'null'
                      members:
                        type: array
                        items:
                          title: Member4
                          required:
                          - user
                          - invited_by
                          - can_see_time_spent
                          - can_see_time_estimated
                          - can_edit_tags
                          - can_create_views
                          type: object
                          properties:
                            user:
                              $ref: '#/paths/~1v2~1team~1{team_id}~1guest~1{guest_id}/put/responses/200/content/application~1json/schema/properties/guest/properties/user'
                            invited_by:
                              $ref: '#/paths/~1v2~1team~1{team_id}~1user~1{user_id}/get/responses/200/content/application~1json/schema/properties/member/properties/invited_by'
                            can_see_time_spent:
                              type: boolean
                            can_see_time_estimated:
                              type: boolean
                            can_edit_tags:
                              type: boolean
                            can_create_views:
                              type: boolean
                            can_see_points_estimated:
                              type: boolean
                          examples:
                          - user:
                              id: 184
                              username: null
                              email: guest@example.com
                              color: null
                              profilePicture: null
                              initials: G
                              role: 4
                              custom_role:
                                id: 12345
                                name: guest custom
                              last_active: null
                              date_joined: null
                              date_invited: '1583358383412'
                            invited_by:
                              id: 183
                              color: '#827718'
                              username: Jerry
                              email: jerry@example.com
                              initials: J
                              profilePicture: https://attachments.clickup.com/profilePictures/profile.jpg
                            can_see_time_spent: true
                            can_see_time_estimated: true
                            can_edit_tags: true
                            can_create_views: true
                            can_see_points_estimated: true
                        description: ''
                      roles:
                        type: array
                        items:
                          $ref: '#/paths/~1v2~1team~1{team_id}~1user/post/responses/200/content/application~1json/schema/properties/team/properties/roles/items'
                        description: ''
                    examples:
                    - id: '333'
                      name: Team Name
                      color: '#8D00D4'
                      avatar: null
                      members:
                      - user:
                          id: 184
                          username: null
                          email: guest@example.com
                          color: null
                          profilePicture: null
                          initials: G
                          role: 4
                          custom_role:
                            id: 12345
                            name: guest custom
                          last_active: null
                          date_joined: null
                          date_invited: '1583358383412'
                        invited_by:
                          id: 183
                          color: '#827718'
                          username: Jerry
                          email: jerry@example.com
                          initials: J
                          profilePicture: https://attachments.clickup.com/profilePictures/profile.jpg
                        can_see_time_spent: true
                        can_see_time_estimated: true
                        can_see_points_estimated: true
                        can_edit_tags: true
                        can_create_views: true
                      roles:
                      - id: 1
                        name: owner
                        custom: false
                      - id: 2
                        name: admin
                        custom: false
                      - id: 3
                        name: member
                        custom: false
                      - id: 4
                        name: guest
                        custom: false
                      - id: 998877
                        name: member custom
                        inherited_role: 3
                        custom: true
                      - id: 112233
                        name: admin custom
                        inherited_role: 2
                        custom: true
                      - id: 12345
                        name: guest custom
                        inherited_role: 4
                        custom: true
                examples:
                - team:
                    id: '333'
                    name: Team Name
                    color: '#8D00D4'
                    avatar: null
                    members:
                    - user:
                        id: 184
                        username: null
                        email: guest@example.com
                        color: null
                        profilePicture: null
                        initials: G
                        role: 4
                        custom_role:
                          id: 12345
                          name: guest custom
                        last_active: null
                        date_joined: null
                        date_invited: '1583358383412'
                      invited_by:
                        id: 183
                        color: '#827718'
                        username: Jerry
                        email: jerry@example.com
                        initials: J
                        profilePicture: https://attachments.clickup.com/profilePictures/profile.jpg
                      can_see_time_spent: true
                      can_see_time_estimated: true
                      can_see_points_estimated: true
                      can_edit_tags: true
                      can_create_views: true
                    roles:
                    - id: 1
                      name: owner
                      custom: false
                    - id: 2
                      name: admin
                      custom: false
                    - id: 3
                      name: member
                      custom: false
                    - id: 4
                      name: guest
                      custom: false
                    - id: 998877
                      name: member custom
                      inherited_role: 3
                      custom: true
                    - id: 112233
                      name: admin custom
                      inherited_role: 2
                      custom: true
                    - id: 12345
                      name: guest custom
                      inherited_role: 4
                      custom: true
              example:
                team:
                  id: '333'
                  name: Team Name
                  color: '#8D00D4'
                  avatar: null
                  members:
                  - user:
                      id: 184
                      username: null
                      email: guest@example.com
                      color: null
                      profilePicture: null
                      initials: G
                      role: 4
                      custom_role:
                        id: 12345
                        name: guest custom
                      last_active: null
                      date_joined: null
                      date_invited: '1583358383412'
                    invited_by:
                      id: 183
                      color: '#827718'
                      username: Jerry
                      email: jerry@example.com
                      initials: J
                      profilePicture: https://attachments.clickup.com/profilePictures/profile.jpg
                    can_see_time_spent: true
                    can_see_time_estimated: true
                    can_edit_tags: true
                    can_create_views: true
                    can_see_points_estimated: true
                  roles:
                  - id: 1
                    name: owner
                    custom: false
                  - id: 2
                    name: admin
                    custom: false
                  - id: 3
                    name: member
                    custom: false
                  - id: 4
                    name: guest
                    custom: false
                  - id: 998877
                    name: member custom
                    inherited_role: 3
                    custom: true
                  - id: 112233
                    name: admin custom
                    inherited_role: 2
                    custom: true
                  - id: 12345
                    name: guest custom
                    inherited_role: 4
                    custom: true
      deprecated: false
  /v2/team/{team_id}/guest/{guest_id}:
    parameters: []
    get:
      summary: Get Guest
      tags:
      - Guests
      description: 'View information about a guest. \

        \

        ***Note:** This endpoint is only available to Workspaces on our Enterprise Plan.*'
      operationId: GetGuest
      parameters:
      - name: team_id
        in: path
        description: Workspace ID
        required: true
        style: simple
        schema:
          type: number
          contentEncoding: double
          examples:
          - 123
      - name: guest_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: number
          contentEncoding: double
          examples:
          - 403
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                type: object
                contentMediaType: application/json
      deprecated: false
    put:
      summary: Edit Guest On Workspace
      tags:
      - Guests
      description: 'Configure options for a guest. \

        \

        ***Note:** This endpoint is only available to Workspaces on our Enterprise Plan.*'
      operationId: EditGuestOnWorkspace
      parameters:
      - name: team_id
        in: path
        description: Workspace ID
        required: true
        style: simple
        schema:
          type: number
          contentEncoding: double
          examples:
          - 123
      - name: guest_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: number
          contentEncoding: double
          examples:
          - 403
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              title: EditGuestOnWorkspacerequest
              type: object
              properties:
                can_see_points_estimated:
                  type: boolean
                can_edit_tags:
                  type: boolean
                can_see_time_spent:
                  type: boolean
                can_see_time_estimated:
                  type: boolean
                can_create_views:
                  type: boolean
                custom_role_id:
                  type: integer
                  contentEncoding: int32
              examples:
              - can_see_points_estimated: true
                can_edit_tags: true
                can_see_time_spent: true
                can_see_time_estimated: true
                can_create_views: true
                custom_role_id: 12345
            example:
              can_edit_tags: true
              can_see_time_spent: true
              can_see_time_estimated: true
              can_see_points_estimated: true
              can_create_views: true
              custom_role_id: 12345
        required: false
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                title: EditGuestOnWorkspaceresponse
                required:
                - guest
                type: object
                properties:
                  guest:
                    title: Guest
                    type: object
                    properties:
                      user:
                        title: User5
                        required:
                        - id
                        - username
                        - email
                        - color
                        - profilePicture
                        - initials
                        - role
                        - custom_role
                        - last_active
                        - date_joined
                        - date_invited
                        type: object
                        properties:
                          id:
                            type: integer
                            contentEncoding: int32
                          username:
                            type:
                            - string
                            - 'null'
                          email:
                            type: string
                          color:
                            type:
                            - string
                            - 'null'
                          profilePicture:
                            type:
                            - string
                            - 'null'
                          initials:
                            type: string
                          role:
                            type: integer
                            contentEncoding: int32
                          custom_role:
                            $ref: '#/paths/~1v2~1team~1{team_id}~1user~1{user_id}/get/responses/200/content/application~1json/schema/properties/member/properties/user/properties/custom_role'
                          last_active:
                            type:
                            - string
                            - 'null'
                          date_joined:
                            type:
                            - string
                            - 'null'
                          date_invited:
                            type: string
                        examples:
                        - id: 184
                          username: null
                          email: guest@example.com
                          color: null
                          profilePicture: null
                          initials: G
                          role: 4
                          custom_role:
                            id: 12345
                            name: guest custom
                          last_active: null
                          date_joined: null
                          date_invited: '1583358383412'
                      invited_by:
                        $ref: '#/paths/~1v2~1team~1{team_id}~1user~1{user_id}/get/responses/200/content/application~1json/schema/properties/member/properties/invited_by'
                      can_see_time_spent:
                        type: boolean
                      can_see_time_estimated:
                        type: boolean
                      can_see_points_estimated:
                        type: boolean
                      can_edit_tags:
                        type: boolean
                      can_create_views:
                        type: boolean
                      shared:
                        $ref: '#/paths/~1v2~1team~1{team_id}~1user~1{user_id}/get/responses/200/content/application~1json/schema/properties/member/properties/shared'
                    examples:
                    - user:
                        id: 184
                        username: null
                        email: guest@example.com
                        color: null
                        profilePicture: null
                        initials: G
                        role: 4
                        custom_role:
                          id: 12345
                          name: guest custom
                        last_active: null
                        date_joined: null
                        date_invited: '1583358383412'
                      invited_by:
                        id: 183
                        color: '#827718'
                        username: Jerry
                        email: jerry@example.com
                        initials: J
                        profilePicture: https://attachments.clickup.com/profilePictures/profile.jpg
                      can_see_time_spent: true
                      can_see_time_estimated: true
                      can_see_points_estimated: true
                      can_edit_tags: true
                      can_create_views: true
                      shared:
                        tasks: []
                        lists: []
                        folders: []
                examples:
                - guest:
                    user:
                      id: 184
                      username: null
                      email: guest@example.com
                      color: null
                      profilePicture: null
                      initials: G
                      role: 4
                      custom_role:
                        id: 12345
                        name: guest custom
                      last_active: null
                      date_joined: null
                      date_invited: '1583358383412'
                    invited_by:
                      id: 183
                      color: '#827718'
                      username: Jerry
                      email: jerry@example.com
                      initials: J
                      profilePicture: https://attachments.clickup.com/profilePictures/profile.jpg
                    can_see_time_spent: true
                    can_see_time_estimated: true
                    can_edit_tags: true
                    can_create_views: true
                    shared:
                      tasks: []
                      lists: []
                      folders: []
              example:
                guest:
                  user:
                    id: 184
                    username: null
                    email: guest@example.com
                    color: null
                    profilePicture: null
                    initials: G
                    role: 4
                    custom_role:
                      id: 12345
                      name: guest custom
                    last_active: null
                    date_joined: null
                    date_invited: '1583358383412'
                  invited_by:
                    id: 183
                    color: '#827718'
                    username: Jerry
                    email: jerry@example.com
                    initials: J
                    profilePicture: https://attachments.clickup.com/profilePictures/profile.jpg
                  can_see_time_spent: true
                  can_see_time_estimated: true
                  can_edit_tags: true
                  can_create_views: true
                  can_see_points_estimated: true
                  shared:
                    tasks: []
                    lists: []
                    folders: []
      deprecated: false
    delete:
      summary: Remove Guest From Workspace
      tags:
      - Guests
      description: 'Revoke a guest''s access to a Workspace. \

        \

        ***Note:** This endpoint is only available to Workspaces on our Enterprise Plan.*'
      operationId: RemoveGuestFromWorkspace
      parameters:
      - name: team_id
        in: path
        description: Workspace ID
        required: true
        style: simple
        schema:
          type: number
          contentEncoding: double
          examples:
          - 123
      - name: guest_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: number
          contentEncoding: double
          examples:
          - 403
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                title: RemoveGuestFromWorkspaceresponse
                required:
                - team
                type: object
                properties:
                  team:
                    $ref: '#/paths/~1v2~1team~1{team_id}~1user~1{user_id}/delete/responses/200/content/application~1json/schema/properties/team'
                examples:
                - team:
                    id: '333'
                    name: Team Name
                    color: '#8D00D4'
                    avatar: null
                    members: []
              example:
                team:
                  id: '333'
                  name: Team Name
                  color: '#8D00D4'
                  avatar: null
                  members: []
      deprecated: false
  /v2/task/{task_id}/guest/{guest_id}:
    parameters: []
    post:
      summary: Add Guest To Task
      tags:
      - Guests
      description: 'Share a task with a guest. \

        \

        ***Note:** This endpoint is only available to Workspaces on our Enterprise Plan.*'
      operationId: AddGuestToTask
      parameters:
      - name: task_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
          examples:
          - c04
      - name: guest_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: number
          contentEncoding: double
          examples:
          - 403
      - name: include_shared
        in: query
        description: Exclude details of items shared with the guest by setting this parameter to `false`. By default this parameter is set to `true`.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          examples:
          - false
      - name: custom_task_ids
        in: query
        description: If you want to reference a task by it's custom task id, this value must be `true`.
        style: form
        explode: true
        schema:
          type: boolean
          examples:
          - true
      - name: team_id
        in: query
        description: "When the `custom_task_ids` parameter is set to `true`, the Workspace ID must be provided using the `team_id` parameter.\n \\\nFor example: `custom_task_ids=true&team_id=123`."
        style: form
        explode: true
        schema:
          type: number
          contentEncoding: double
          examples:
          - 123
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              title: AddGuestToTaskrequest
              required:
              - permission_level
              type: object
              properties:
                permission_level:
                  description: Can be `read` (view only), `comment`, `edit`, or `create` (full).
                  type: string
              examples:
              - permission_level: read
            example:
              permission_level: read
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                title: AddGuestToTaskresponse
                required:
                - guest
                type: object
                properties:
                  guest:
                    title: Guest1
                    required:
                    - user
                    - invited_by
                    - can_see_time_spent
                    - can_see_time_estimated
                    - can_edit_tags
                    - shared
                    type: object
                    properties:
                      user:
                        title: User7
                        required:
                        - id
                        - username
                        - email
                        - color
                        - profilePicture
                        - initials
                        - role
                        - last_active
                        - date_joined
                        - date_invited
                        type: object
                        properties:
                          id:
                            type: integer
                            contentEncoding: int32
                          username:
                            type:
                            - string
                            - 'null'
                          email:
                            type: string
                          color:
                            type:
                            - string
                            - 'null'
                          profilePicture:
                            type:
                            - string
                            - 'null'
                          initials:
                            type: string
                          role:
                            type: integer
                            contentEncoding: int32
                          last_active:
                            type:
                            - string
                            - 'null'
                          date_joined:
                            type:
                            - string
                            - 'null'
                          date_invited:
                            type: string
                        examples:
                        - id: 184
                          username: null
                          email: guest@example.com
                          color: null
                          profilePicture: null
                          initials: G
                          role: 4
                          last_active: null
                          date_joined: null
                          date_invited: '1583358383412'
                      invited_by:
                        $ref: '#/paths/~1v2~1team~1{team_id}~1user~1{user_id}/get/responses/200/content/application~1json/schema/properties/member/properties/invited_by'
                      can_see_time_spent:
                        type: boolean
                      can_see_time_estimated:
                        type: boolean
                      can_edit_tags:
                        type: boolean
                      shared:
                        title: Shared1
                        required:
                        - tasks
                        - lists
                        - folders
                        type: object
                        properties:
                          tasks:
                            type: array
                            items:
                              title: Task2
                              required:
                              - id
                              - name
                              - status
                              - orderindex
                              - date_created
                              - date_updated
                              - date_closed
                              - archived
                              - creator
                              - assignees
                              - checklists
                              - tags
                              - parent
                              - priority
                              - due_date
                              - start_date
                              - points
                              - time_estimate
                              - custom_fields
                              - dependencies
                              - team_id
                              - url
                              - permission_level
                              - list
                              - folder
                              - space
                              type: object
                              properties:
                                id:
                                  type: string
                                name:
                                  type: string
                                status:
                                  $ref: '#/paths/~1v2~1task~1{task_id}/get/responses/200/content/application~1json/schema/properties/status'
                                orderindex:
                                  type: string
                                date_created:
                                  type: string
                                date_updated:
                                  type: string
                                date_closed:
                                  type:
                                  - string
                                  - 'null'
                                archived:
                                  type: boolean
                                creator:
                                  $ref: '#/paths/~1v2~1task~1{task_id}/get/responses/200/content/application~1json/schema/properties/creator'
                                assignees:
                                  type: array
                                  items:
                                    type: string
                                  description: ''
                                checklists:
                                  type: array
                                  items:
                                    type: string
                                  description: ''
                                tags:
                                  type: array
                                  items:
                                    type: string
                                  description: ''
                                parent:
                                  type:
                                  - string
                                  - 'null'
                                priority:
                                  $ref: '#/paths/~1v2~1task~1{task_id}/get/responses/200/content/application~1json/schema/properties/priority'
                                due_date:
                                  type: string
                                start_date:
                                  type:
                                  - string
                                  - 'null'
                                points:
                                  type:
                                  - string
                                  - 'null'
                                time_estimate:
                                  type:
                                  - string
                                  - 'null'
                                custom_fields:
                                  type: array
                                  items:
                                    type: string
                                  description: ''
                                dependencies:
                                  type: array
                                  items:
                                    type: string
                                  description: ''
                                team_id:
                                  type: string
                                url:
                                  type: string
                                permission_level:
                                  type: string
                                list:
                                  $ref: '#/paths/~1v2~1team~1{team_Id}~1task/get/responses/200/content/application~1json/schema/properties/tasks/items/properties/list'
                                folder:
                                  $ref: '#/paths/~1v2~1list~1{list_id}/get/responses/200/content/application~1json/schema/properties/folder'
                                space:
                                  $ref: '#/paths/~1v2~1task~1{task_id}/get/responses/200/content/application~1json/schema/properties/space'
                              examples:
                              - id: c04
                                name: Task Name
                                status:
                                  status: Open
                                  color: '#d3d3d3'
                                  type: open
                                  orderindex: 0
                                orderindex: '0'
                                date_created: '1574718405408'
                                date_updated: '1574722145869'
                                date_closed: null
                                archived: false
                                creator:
                                  id: 183
                                  username: Jerry
                                  color: '#827718'
                                  profilePicture: https://attachments.clickup.com/profilePictures/profile.jpg
                                assignees: []
                                checklists: []
                                tags: []
                                parent: null
                                priority:
                                  id: '1'
                                  priority: urgent
                                  color: '#f50000'
                                  orderindex: '1'
                                due_date: '1508369194377'
                                start_date: null
                                points: null
                                time_estimate: null
                                custom_fields: []
                                dependencies: []
                                team_id: '108'
                                url: https://app.clickup.com/t/c04
                                permission_level: read
                                list:
                                  id: '1752'
                                  name: Shared with me
                                  access: false
                                folder:
                                  id: '1217'
                                  name: Shared with me
                                  hidden: false
                                  access: false
                                space:
                                  id: '380'
                            description: ''
                          lists:
                            type: array
                            items:
                              type: string
                            description: ''
                          folders:
                            type: array
                            items:
                              type: string
                            description: ''
                        examples:
                        - tasks:
                          - id: c04
                            name: Task Name
                            status:
                              status: Open
                              color: '#d3d3d3'
                              type: open
                              orderindex: 0
                            orderindex: '0'
                            date_created: '1574718405408'
                            date_updated: '1574722145869'
                            date_closed: null
                            archived: false
                            creator:
                              id: 183
                              username: Jerry
                              color: '#827718'
                              profilePicture: https://attachments.clickup.com/profilePictures/profile.jpg
                            assignees: []
                            checklists: []
                            tags: []
                            parent: null
                            priority:
                              id: '1'
                              priority: urgent
                              color: '#f50000'
                              orderindex: '1'
                            due_date: '1508369194377'
                            start_date: null
                            points: null
                            time_estimate: null
                            custom_fields: []
                            dependencies: []
                            team_id: '108'
                            url: https://app.clickup.com/t/c04
                            permission_level: read
                            list:
                              id: '1752'
                              name: Shared with me
                              access: false
                            folder:
                              id: '1217'
                              name: Shared with me
                              hidden: false
                              access: false
                            space:
                              id: '380'
                          lists: []
                          folders: []
                    examples:
                    - user:
                        id: 184
                        username: null
                        email: guest@example.com
                        color: null
                        profilePicture: null
                        initials: G
                        role: 4
                        last_active: null
                        date_joined: null
                        date_invited: '1583358383412'
                      invited_by:
                        id: 183
                        color: '#827718'
                        username: Jerry
                        email: jerry@example.com
                        initials: J
                        profilePicture: https://attachments.clickup.com/profilePictures/profile.jpg
                      can_see_time_spent: true
                      can_see_time_estimated: true
                      can_edit_tags: true
                      shared:
                        tasks:
                        - id: c04
                          name: Task Name
                          status:
                            status: Open
                            color: '#d3d3d3'
                            type: open
                            orderindex: 0
                          orderindex: '0'
                          date_created: '1574718405408'
                          date_updated: '1574722145869'
                          date_closed: null
                          archived: false
                          creator:
                            id: 183
                            username: Jerry
                            color: '#827718'
                            profilePicture: https://attachments.clickup.com/profilePictures/profile.jpg
                          assignees: []
                          checklists: []
                          tags: []
                          parent: null
                          priority:
                            id: '1'
                            priority: urgent
                            color: '#f50000'
                            orderindex: '1'
                          due_date: '1508369194377'
                          start_date: null
                          points: null
                          time_estimate: null
                          custom_fields: []
                          dependencies: []
                          team_id: '108'
                          url: https://app.clickup.com/t/c04
                          permission_level: read
                          list:
                            id: '1752'
                            name: Shared with me
                            access: false
                          folder:
                            id: '1217'
                            name: Shared with me
                            hidden: false
                            access: false
                          space:
                            id: '380'
                        lists: []
                        folders: []
                examples:
                - guest:
                    user:
                      id: 184
                      username: null
                      email: guest@example.com
                      color: null
                      profilePicture: null
                      initials: G
                      role: 4
                      last_active: null
                      date_joined: null
                      date_invited: '1583358383412'
                    invited_by:
                      id: 183
                      color: '#827718'
                      username: Jerry
                      email: jerry@example.com
                      initials: J
                      profilePicture: https://attachments.clickup.com/profilePictures/profile.jpg
                    can_see_time_spent: true
                    can_see_time_estimated: true
                    can_edit_tags: true
                    shared:
                      tasks:
                      - id: c04
                        name: Task Name
                        status:
                          status: Open
                          color: '#d3d3d3'
                          type: open
                          orderindex: 0
                        orderindex: '0'
                        date_created: '1574718405408'
                        date_updated: '1574722145869'
                        date_closed: null
                        archived: false
                        creator:
                          id: 183
                          username: Jerry
                          color: '#827718'
                          profilePicture: https://attachments.clickup.com/profilePictures/profile.jpg
                        assignees: []
                        checklists: []
                        tags: []
                        parent: null
                        priority:
                          id: '1'
                          priority: urgent
                          color: '#f50000'
                          orderindex: '1'
                        due_date: '1508369194377'
                        start_date: null
                        points: null
                        time_estimate: null
                        custom_fields: []
                        dependencies: []
                        team_id: '108'
                        url: https://app.clickup.com/t/c04
                        permission_level: read
                        list:
                          id: '1752'
                          name: Shared with me
                          access: false
                        folder:
                          id: '1217'
                          name: Shared with me
                          hidden: false
                          access: false
                        space:
                          id: '380'
                      lists: []
                      folders: []
              example:
                guest:
                  user:
                    id: 184
                    username: null
                    email: guest@example.com
                    color: null
                    profilePicture: null
                    initials: G
                    role: 4
                    last_active: null
                    date_joined: null
                    date_invited: '1583358383412'
                  invited_by:
                    id: 183
                    color: '#827718'
                    username: Jerry
                    email: jerry@example.com
                    initials: J
                    profilePicture: https://attachments.clickup.com/profilePictures/profile.jpg
                  can_see_time_spent: true
                  can_see_time_estimated: true
                  can_edit_tags: true
                  shared:
                    tasks:
                    - id: c04
                      name: Task Name
                      status:
                        status: Open
                        color: '#d3d3d3'
                        type: open
                        orderindex: 0
                      orderindex: '0'
                      date_created: '1574718405408'
                      date_updated: '1574722145869'
                      date_closed: null
                      archived: false
                      creator:
                        id: 183
                        username: Jerry
                        color: '#827718'
                        profilePicture: https://attachments.clickup.com/profilePictures/profile.jpg
                      assignees: []
                      checklists: []
                      tags: []
                      parent: null
                      priority:
                        id: '1'
                        priority: urgent
                        color: '#f50000'
                        orderindex: '1'
                      due_date: '1508369194377'
                      start_date: null
                      points: null
                      time_estimate: null
                      custom_fields: []
                      dependencies: []
                      team_id: '108'
                      url: https://app.clickup.com/t/c04
                      permission_level: read
                      list:
                        id: '1752'
                        name: Shared with me
                        access: false
                      folder:
                        id: '1217'
                        name: Shared with me
                        hidden: false
                        access: false
                      space:
                        id: '380'
                    lists: []
                    folders: []
      deprecated: false
    delete:
      summary: Remove Guest From Task
      tags:
      - Guests
      description: 'Revoke a guest''s access to a task. \

        \

        ***Note:** This endpoint is only available to Workspaces on our Enterprise Plan.*'
      operationId: RemoveGuestFromTask
      parameters:
      - name: task_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
          examples:
          - c04
      - name: guest_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: number
          contentEncoding: double
          examples:
          - 403
      - name: include_shared
        in: query
        description: Exclude details of items shared with the guest by setting this parameter to `false`. By default this parameter is set to `true`.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          examples:
          - false
      - name: custom_task_ids
        in: query
        description: If you want to reference a task by it's custom task id, this value must be `true`.
        style: form
        explode: true
        schema:
          type: boolean
          examples:
          - true
      - name: team_id
        in: query
        description: "When the `custom_task_ids` parameter is set to `true`, the Workspace ID must be provided using the `team_id` parameter.\n \\\nFor example: `custom_task_ids=true&team_id=123`."
        style: form
        explode: true
        schema:
          type: number
          contentEncoding: double
          examples:
          - 123
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                title: RemoveGuestFromTaskresponse
                required:
                - guest
                type: object
                properties:
                  guest:
                    title: Guest2
                    required:
                    - user
                    - invited_by
                    - can_see_time_spent
                    - can_see_time_estimated
                    - can_edit_tags
                    - shared
                    type: object
                    properties:
                      user:
                        $ref: '#/paths/~1v2~1task~1{task_id}~1guest~1{guest_id}/post/responses/200/content/application~1json/schema/properties/guest/properties/user'
                      invited_by:
                        $ref: '#/paths/~1v2~1team~1{team_id}~1user~1{user_id}/get/responses/200/content/application~1json/schema/properties/member/properties/invited_by'
                      can_see_time_spent:
                        type: boolean
                      can_see_time_estimated:
                        type: boolean
                      can_edit_tags:
                        type: boolean
                      shared:
                        $ref: '#/paths/~1v2~1team~1{team_id}~1user~1{user_id}/get/responses/200/content/application~1json/schema/properties/member/properties/shared'
                    examples:
                    - user:
                        id: 184
                        username: null
                        email: guest@example.com
                        color: null
                        profilePicture: null
                        initials: G
                        role: 4
                        last_active: null
                        date_joined: null
                        date_invited: '1583358383412'
                      invited_by:
                        id: 183
                        color: '#827718'
                        username: Jerry
                        email: jerry@example.com
                        initials: J
                        profilePicture: https://attachments.clickup.com/profilePictures/profile.jpg
                      can_see_time_spent: true
                      can_see_time_estimated: true
                      can_edit_tags: true
                      shared:
                        tasks: []
                        lists: []
                        folders: []
                examples:
                - guest:
                    user:
                      id: 184
                      username: null
                      email: guest@example.com
                      color: null
                      profilePicture: null
                      initials: G
                      role: 4
                      last_active: null
                      date_joined: null
                      date_invited: '1583358383412'
                    invited_by:
                      id: 183
                      color: '#827718'
                      username: Jerry
                      email: jerry@example.com
                      initials: J
                      profilePicture: https://attachments.clickup.com/profilePictures/profile.jpg
                    can_see_time_spent: true
                    can_see_time_estimated: true
                    can_edit_tags: true
                    shared:
                      tasks: []
                      lists: []
                      folders: []
              example:
                guest:
                  user:
                    id: 184
                    username: null
                    email: guest@example.com
                    color: null
                    profilePicture: null
                    initials: G
                    role: 4
                    last_active: null
                    date_joined: null
                    date_invited: '1583358383412'
                  invited_by:
                    id: 183
                    color: '#827718'
                    username: Jerry
                    email: jerry@example.com
                    initials: J
                    profilePicture: https://attachments.clickup.com/profilePictures/profile.jpg
                  can_see_time_spent: true
                  can_see_time_estimated: true
                  can_edit_tags: true
                  shared:
                    tasks: []
                    lists: []
                    folders: []
      deprecated: false
  /v2/list/{list_id}/guest/{guest_id}:
    parameters: []
    post:
      summary: Add Guest To List
      tags:
      - Guests
      description: 'Share a List with a guest. \

        \

        ***Note:** This endpoint is only available to Workspaces on our Enterprise Plan.*'
      operationId: AddGuestToList
      parameters:
      - name: list_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: number
          contentEncoding: double
          examples:
          - 1427
      - name: guest_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: number
          contentEncoding: double
          examples:
          - 403
      - name: include_shared
        in: query
        description: Exclude details of items shared with the guest by setting this parameter to `false`. By default this parameter is set to `true`.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          examples:
          - false
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              title: AddGuestToListrequest
              required:
              - permission_level
              type: object
              properties:
                permission_level:
                  description: Can be `read` (view only), `comment`, `edit`, or `create` (full).
                  type: string
              examples:
              - permission_level: read
            example:
              permission_level: read
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                title: AddGuestToListresponse
                required:
                - guest
                type: object
                properties:
                  guest:
                    title: Guest3
                    required:
                    - user
                    - invited_by
                    - can_see_time_spent
                    - can_see_time_estimated
                    - can_edit_tags
                    - shared
                    type: object
                    properties:
                      user:
                        $ref: '#/paths/~1v2~1task~1{task_id}~1guest~1{guest_id}/post/responses/200/content/application~1json/schema/properties/guest/properties/user'
                      invited_by:
                        $ref: '#/paths/~1v2~1team~1{team_id}~1user~1{user_id}/get/responses/200/content/application~1json/schema/properties/member/properties/invited_by'
                      can_see_time_spent:
                        type: boolean
                      can_see_time_estimated:
                        type: boolean
                      can_edit_tags:
                        type: boolean
                      shared:
                        title: Shared3
                        required:
                        - tasks
                        - lists
                        - folders
                        type: object
                        properties:
                          tasks:
                            type: array
                            items:
                              type: string
                            description: ''
                          lists:
                            type: array
                            items:
                              title: List3
                              required:
                              - id
                              - name
                              - orderindex
                              - status
                              - priority
                              - assignee
                              - task_count
                              - due_date
                              - start_date
                              - archived
                              - override_statuses
                              - statuses
                              - permission_level
                              type: object
                              properties:
                                id:
                                  type: string
                                name:
                                  type: string
                                orderindex:
                                  type: integer
                                  contentEncoding: int32
                                status:
                                  type:
                                  - string
                                  - 'null'
                                priority:
                                  type:
                                  - string
                                  - 'null'
                                assignee:
                                  type:
                                  - string
                                  - 'null'
                                task_count:
                                  type: string
                                due_date:
                                  type:
                                  - string
                                  - 'null'
                                start_date:
                                  type:
                                  - string
                                  - 'null'
                                archived:
                                  type: boolean
                                override_statuses:
                                  type: boolean
                                statuses:
                                  type: array
                                  items:
                                    $ref: '#/paths/~1v2~1task~1{task_id}/get/responses/200/content/application~1json/schema/properties/status'
                                  description: ''
                                permission_level:
                                  type: string
                              examples:
                              - id: '1427'
                                name: List Name
                                orderindex: 1
                                status: null
                                priority: null
                                assignee: null
                                task_count: '5'
                                due_date: null
                                start_date: null
                                archived: false
                                override_statuses: true
                                statuses:
                                - status: Open
                                  orderindex: 0
                                  color: '#d3d3d3'
                                  type: open
                                - status: Closed
                                  orderindex: 5
                                  color: '#6bc950'
                                  type: closed
                                permission_level: read
                            description: ''
                          folders:
                            type: array
                            items:
                              type: string
                            description: ''
                        examples:
                        - tasks: []
                          lists:
                          - id: '1427'
                            name: List Name
                            orderindex: 1
                            status: null
                            priority: null
                            assignee: null
                            task_count: '5'
                            due_date: null
                            start_date: null
                            archived: false
                            override_statuses: true
                            statuses:
                            - status: Open
                              orderindex: 0
                              color: '#d3d3d3'
                              type: open
                            - status: Closed
                              orderindex: 5
                              color: '#6bc950'
                              type: closed
                            permission_level: read
                          folders: []
                    examples:
                    - user:
                        id: 184
                        username: null
                        email: guest@example.com
                        color: null
                        profilePicture: null
                        initials: G
                        role: 4
                        last_active: null
                        date_joined: null
                        date_invited: '1583358383412'
                      invited_by:
                        id: 183
                        color: '#827718'
                        username: Jerry
                        email: jerry@example.com
                        initials: J
                        profilePicture: https://attachments.clickup.com/profilePictures/profile.jpg
                      can_see_time_spent: true
                      can_see_time_estimated: true
                      can_edit_tags: true
                      shared:
                        tasks: []
                        lists:
                        - id: '1427'
                          name: List Name
                          orderindex: 1
                          status: null
                          priority: null
                          assignee: null
                          task_count: '5'
                          due_date: null
                          start_date: null
                          archived: false
                          override_statuses: true
                          statuses:
                          - status: Open
                            orderindex: 0
                            color: '#d3d3d3'
                            type: open
                          - status: Closed
                            orderindex: 5
                            color: '#6bc950'
                            type: closed
                          permission_level: read
                        folders: []
                examples:
                - guest:
                    user:
                      id: 184
                      username: null
                      email: guest@example.com
                      color: null
                      profilePicture: null
                      initials: G
                      role: 4
                      last_active: null
                      date_joined: null
                      date_invited: '1583358383412'
                    invited_by:
                      id: 183
                      color: '#827718'
                      username: Jerry
                      email: jerry@example.com
                      initials: J
                      profilePicture: https://attachments.clickup.com/profilePictures/profile.jpg
                    can_see_time_spent: true
                    can_see_time_estimated: true
                    can_edit_tags: true
                    shared:
                      tasks: []
                      lists:
                      - id: '1427'
                        name: List Name
                        orderindex: 1
                        status: null
                        priority: null
                        assignee: null
                        task_count: '5'
                        due_date: null
                        start_date: null
                        archived: false
                        override_statuses: true
                        statuses:
                        - status: Open
                          orderindex: 0
                          color: '#d3d3d3'
                          type: open
                        - status: Closed
                          orderindex: 5
                          color: '#6bc950'
                          type: closed
                        permission_level: read
                      folders: []
              example:
                guest:
                  user:
                    id: 184
                    username: null
                    email: guest@example.com
                    color: null
                    profilePicture: null
                    initials: G
                    role: 4
                    last_active: null
                    date_joined: null
                    date_invited: '1583358383412'
                  invited_by:
                    id: 183
                    color: '#827718'
                    username: Jerry
                    email: jerry@example.com
                    initials: J
                    profilePicture: https://attachments.clickup.com/profilePictures/profile.jpg
                  can_see_time_spent: true
                  can_see_time_estimated: true
                  can_edit_tags: true
                  shared:
                    tasks: []
                    lists:
                    - id: '1427'
                      name: List Name
                      orderindex: 1
                      status: null
                      priority: null
                      assignee: null
                      task_count: '5'
                      due_date: null
                      start_date: null
                      archived: false
                      override_statuses: true
                      statuses:
                      - status: Open
                        orderindex: 0
                        color: '#d3d3d3'
                        type: open
                      - status: Closed
                        orderindex: 5
                        color: '#6bc950'
                        type: closed
                      permission_level: read
                    folders: []
      deprecated: false
    delete:
      summary: Remove Guest From List
      tags:
      - Guests
      description: 'Revoke a guest''s access to a List.\

        \

        ***Note:** This endpoint is only available to Workspaces on our Enterprise Plan.*'
      operationId: RemoveGuestFromList
      parameters:
      - name: list_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: number
          contentEncoding: double
          examples:
          - 1427
      - name: guest_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: number
          contentEncoding: double
          examples:
          - 403
      - name: include_shared
        in: query
        description: Exclude details of items shared with the guest by setting this parameter to `false`. By default this parameter is set to `true`.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          examples:
          - false
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                title: RemoveGuestFromListresponse
                required:
                - guest
                type: object
                properties:
                  guest:
                    $ref: '#/paths/~1v2~1task~1{task_id}~1guest~1{guest_id}/delete/responses/200/content/application~1json/schema/properties/guest'
                examples:
                - guest:
                    user:
                      id: 184
                      username: null
                      email: guest@example.com
                      color: null
                      profilePicture: null
                      initials: G
                      role: 4
                      last_active: null
                      date_joined: null
                      date_invited: '1583358383412'
                    invited_by:
                      id: 183
                      color: '#827718'
                      username: Jerry
                      email: jerry@example.com
                      initials: J
                      profilePicture: https://attachments.clickup.com/profilePictures/profile.jpg
                    can_see_time_spent: true
                    can_see_time_estimated: true
                    can_edit_tags: true
                    shared:
                      tasks: []
                      lists: []
                      folders: []
              example:
                guest:
                  user:
                    id: 184
                    username: null
                    email: guest@example.com
                    color: null
                    profilePicture: null
                    initials: G
                    role: 4
                    last_active: null
                    date_joined: null
                    date_invited: '1583358383412'
                  invited_by:
                    id: 183
                    color: '#827718'
                    username: Jerry
                    email: jerry@example.com
                    initials: J
                    profilePicture: https://attachments.clickup.com/profilePictures/profile.jpg
                  can_see_time_spent: true
                  can_see_time_estimated: true
                  can_edit_tags: true
                  shared:
                    tasks: []
                    lists: []
                    folders: []
      deprecated: false
  /v2/folder/{folder_id}/guest/{guest_id}:
    parameters: []
    post:
      summary: Add Guest To Folder
      tags:
      - Guests
      description: 'Share a Folder with a guest. \

        \

        ***Note:** This endpoint is only available to Workspaces on our Enterprise Plan.*'
      operationId: AddGuestToFolder
      parameters:
      - name: folder_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: number
          contentEncoding: double
          examples:
          - 1057
      - name: guest_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: number
          contentEncoding: double
          examples:
          - 403
      - name: include_shared
        in: query
        description: Exclude details of items shared with the guest by setting this parameter to `false`. By default this parameter is set to `true`.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          examples:
          - false
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              title: AddGuestToFolderrequest
              required:
              - permission_level
              type: object
              properties:
                permission_level:
                  description: Can be `read` (view only), `comment`, `edit`, or `create` (full).
                  type: string
              examples:
              - permission_level: read
            example:
              permission_level: read
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                title: AddGuestToFolderresponse
                required:
                - guest
                type: object
                properties:
                  guest:
                    title: Guest5
                    required:
                    - user
                    - invited_by
                    - can_see_time_spent
                    - can_see_time_estimated
                    - can_edit_tags
                    - shared
                    type: object
                    properties:
                      user:
                        $ref: '#/paths/~1v2~1task~1{task_id}~1guest~1{guest_id}/post/responses/200/content/application~1json/schema/properties/guest/properties/user'
                      invited_by:
                        $ref: '#/paths/~1v2~1team~1{team_id}~1user~1{user_id}/get/responses/200/content/application~1json/schema/properties/member/properties/invited_by'
                      can_see_time_spent:
                        type: boolean
                      can_see_time_estimated:
                        type: boolean
                      can_edit_tags:
                        type: boolean
                      shared:
                        title: Shared5
                        required:
                        - tasks
                        - lists
                        - folders
                        type: object
                        properties:
                          tasks:
                            type: array
                            items:
                              type: string
                            description: ''
                          lists:
                            type: array
                            items:
                              type: string
                            description: ''
                          folders:
                            type: array
                            items:
                              title: Folder4
                              required:
                              - id
                              - name
                              - orderindex
                              - override_statuses
                              - hidden
                              - task_count
                              - archived
                              - statuses
                              - lists
                              - permission_level
                              type: object
                              properties:
                                id:
                                  type: string
                                name:
                                  type: string
                                orderindex:
                                  type: integer
                                  contentEncoding: int32
                                override_statuses:
                                  type: boolean
                                hidden:
                                  type: boolean
                                task_count:
                                  type: string
                                archived:
                                  type: boolean
                                statuses:
                                  type: array
                                  items:
                                    $ref: '#/paths/~1v2~1task~1{task_id}/get/responses/200/content/application~1json/schema/properties/status'
                                  description: ''
                                lists:
                                  type: array
                                  items:
                                    type: string
                                  description: ''
                                permission_level:
                                  type: string
                              examples:
                              - id: '1057'
                                name: Folder Name
                                orderindex: 5
                                override_statuses: true
                                hidden: false
                                task_count: '20'
                                archived: false
                                statuses:
                                - status: Open
                                  orderindex: 0
                                  color: '#d3d3d3'
                                  type: open
                                - status: Closed
                                  orderindex: 5
                                  color: '#6bc950'
                                  type: closed
                                lists: []
                                permission_level: read
                            description: ''
                        examples:
                        - tasks: []
                          lists: []
                          folders:
                          - id: '1057'
                            name: Folder Name
                            orderindex: 5
                            override_statuses: true
                            hidden: false
                            task_count: '20'
                            archived: false
                            statuses:
                            - status: Open
                              orderindex: 0
                              color: '#d3d3d3'
                              type: open
                            - status: Closed
                              orderindex: 5
                              color: '#6bc950'
                              type: closed
                            lists: []
                            permission_level: read
                    examples:
                    - user:
                        id: 184
                        username: null
                        email: guest@example.com
                        color: null
                        profilePicture: null
                        initials: G
                        role: 4
                        last_active: null
                        date_joined: null
                        date_invited: '1583358383412'
                      invited_by:
                        id: 183
                        color: '#827718'
                        username: Jerry
                        email: jerry@example.com
                        initials: J
                        profilePicture: https://attachments.clickup.com/profilePictures/profile.jpg
                      can_see_time_spent: true
                      can_see_time_estimated: true
                      can_edit_tags: true
                      shared:
                        tasks: []
                        lists: []
                        folders:
                        - id: '1057'
                          name: Folder Name
                          orderindex: 5
                          override_statuses: true
                          hidden: false
                          task_count: '20'
                          archived: false
                          statuses:
                          - status: Open
                            orderindex: 0
                            color: '#d3d3d3'
                            type: open
                          - status: Closed
                            orderindex: 5
                            color: '#6bc950'
                            type: closed
                          lists: []
                          permission_level: read
                examples:
                - guest:
                    user:
                      id: 184
                      username: null
                      email: guest@example.com
                      color: null
                      profilePicture: null
                      initials: G
                      role: 4
                      last_active: null
                      date_joined: null
                      date_invited: '1583358383412'
                    invited_by:
                      id: 183
                      color: '#827718'
                      username: Jerry
                      email: jerry@example.com
                      initials: J
                      profilePicture: https://attachments.clickup.com/profilePictures/profile.jpg
                    can_see_time_spent: true
                    can_see_time_estimated: true
                    can_edit_tags: true
                    shared:
                      tasks: []
                      lists: []
                      folders:
                      - id: '1057'
                        name: Folder Name
                        orderindex: 5
                        override_statuses: true
                        hidden: false
                        task_count: '20'
                        archived: false
                        statuses:
                        - status: Open
                          orderindex: 0
                          color: '#d3d3d3'
                          type: open
                        - status: Closed
                          orderindex: 5
                          color: '#6bc950'
                          type: closed
                        lists: []
                        permission_level: read
              example:
                guest:
                  user:
                    id: 184
                    username: null
                    email: guest@example.com
                    color: null
                    profilePicture: null
                    initials: G
                    role: 4
                    last_active: null
                    date_joined: null
                    date_invited: '1583358383412'
                  invited_by:
                    id: 183
                    color: '#827718'
                    username: Jerry
                    email: jerry@example.com
                    initials: J
                    profilePicture: https://attachments.clickup.com/profilePictures/profile.jpg
                  can_see_time_spent: true
                  can_see_time_estimated: true
                  can_edit_tags: true
                  shared:
                    tasks: []
                    lists: []
                    folders:
                    - id: '1057'
                      name: Folder Name
                      orderindex: 5
                      override_statuses: true
                      hidden: false
                      task_count: '20'
                      archived: false
                      statuses:
                      - status: Open
                        orderindex: 0
                        color: '#d3d3d3'
                        type: open
                      - status: Closed
                        orderindex: 5
                        color: '#6bc950'
                        type: closed
                      lists: []
                      permission_level: read
      deprecated: false
    delete:
      summary: Remove Guest From Folder
      tags:
      - Guests
      description: 'Revoke a guest''s access to a Folder. \

        \

        ***Note:** This endpoint is only available to Workspaces on our Enterprise Plan.*'
      operationId: RemoveGuestFromFolder
      parameters:
      - name: folder_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: number
          contentEncoding: double
          examples:
          - 1057
      - name: guest_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: number
          contentEncoding: double
          examples:
          - 403
      - name: include_shared
        in: query
        description: Exclude details of items shared with the guest by setting this parameter to `false`. By default this parameter is set to `true`.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          examples:
          - false
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                title: RemoveGuestFromFolderresponse
                required:
                - guest
                type: object
                properties:
                  guest:
                    $ref: '#/paths/~1v2~1task~1{task_id}~1guest~1{guest_id}/delete/responses/200/content/application~1json/schema/properties/guest'
                examples:
                - guest:
                    user:
                      id: 184
                      username: null
                      email: guest@example.com
                      color: null
                      profilePicture: null
                      initials: G
                      role: 4
                      last_active: null
                      date_joined: null
                      date_invited: '1583358383412'
                    invited_by:
                      id: 183
                      color: '#827718'
                      username: Jerry
                      email: jerry@example.com
                      initials: J
                      profilePicture: https://attachments.clickup.com/profilePictures/profile.jpg
                    can_see_time_spent: true
                    can_see_time_estimated: true
                    can_edit_tags: true
                    shared:
                      tasks: []
                      lists: []
                      folders: []
              example:
                guest:
                  user:
                    id: 184
                    username: null
                    email: guest@example.com
                    color: null
                    profilePicture: null
                    initials: G
                    role: 4
                    last_active: null
                    date_joined: null
                    date_invited: '1583358383412'
                  invited_by:
                    id: 183
                    color: '#827718'
                    username: Jerry
                    email: jerry@example.com
                    initials: J
                    profilePicture: https://attachments.clickup.com/profilePictures/profile.jpg
                  can_see_time_spent: true
                  can_see_time_estimated: true
                  can_edit_tags: true
                  shared:
                    tasks: []
                    lists: []
                    folders: []
      deprecated: false
components:
  securitySchemes:
    Authorization_Token:
      name: Authorization
      type: apiKey
      in: header
      description: 'API token required for authentication. Two types of tokens are supported:

        **Personal API Key** Obtain from ClickUp''s settings page under ''Apps'' and add it to the header as `Authorization: pk_...`

        **OAuth2 Access Token** Generated through the OAuth2 flow and add it to the header as `Authorization: Bearer {access_token}`'
